/* ==========================================================================
    ADDRESSES
   ========================================================================== */

address {
  @apply not-italic;
}
