/* ==========================================================================
    ANCHORS
   ========================================================================== */

a {
  /* color: var(--color-link); */

  /* Better-looking links in better browsers. */
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}
