/* ==========================================================================
    BLOCKQUOTES
   ========================================================================== */

blockquote {
  @apply
    border-l-4 border-orange
    -ml-[4px]
    pl-10
  ;

  & p {
    @apply 
      leading-snug
      font-bold
      font-serif
      text-md
    ;
  }
}
