/* ==========================================================================
    BLOCKQUOTES
   ========================================================================== */

blockquote {
  @apply
    border-l-4
    m-0 -ml-[4px]
  ;

  &,
  & p {
    @apply 
      leading-snug
    ;
  }
}
