/* ==========================================================================
    CITATIONS
   ========================================================================== */

cite {
  @apply block font-bold not-italic text-base;
}
