/* ==========================================================================
     CODE STYLES
   ========================================================================== */
code,
kbd,
pre,
samp {
  @apply font-mono;
}
