/* ==========================================================================
    FIGURES
   ========================================================================== */

figure {
  @apply m-0;
}

figcaption {
  @apply mt-2;
}