/* ==========================================================================
    IMAGES
   ========================================================================== */

/* Fluid images. */
img,
svg {
  
	@apply 
		h-auto 
		max-w-full
	;

  vertical-align: middle;
  -ms-interpolation-mode: bicubic;

}
