/* ==========================================================================
    PARAGRAPHS
   ========================================================================== */

p {
  @apply 
    mb-0
  ;

  /* max-width: var(--max-width-copy); */
  orphans: 3;
  text-wrap: pretty;
  widows: 3;
}
