/* ==========================================================================
    HORIZONTAL RULE
   ========================================================================== */

hr {
  @apply border-t border-ui h-px my-8 p-0;
}
