/* ==========================================================================
    TABLES
   ========================================================================== */

table {
  @apply border-collapse leading-none;
}

thead {
  @apply uppercase text-sm;
}

th {
  text-align: inherit;
}

td,
th {
  @apply py-4 px-6;
}
