{{ define "main" }}
<article>
  {{ partial "header__landing.html" . }}
  <section class="container section">
    <div class="prose">
      <h2 id="how-we-work" class="text-xl">How we work</h2>
      <p>We have long-term, successful digital partnerships that focus on meeting user needs and delivering on strategic objectives. By spending more time on discovery and analysis before jumping into production we gain a clear understanding of <em><strong>why</strong></em> a brief is necessary and <em><strong>what</strong></em> we need to deliver in order to achieve a successful outcome</p>
    </div>
    <div class="grid gap-10 lg:grid-cols-12 lg:gap-20 section">
      <div class="hidden col-span-6 md:block">
        {{ partial "image" (dict 
          "alt" "A young woman holding a lead, walking, and looking behind her"
          "class" "object-cover w-full"
          "src" "/images/take-the-reins.png" 
        ) }}
      </div>
      <div class="col-span-full lg:col-span-6">
        <ul class="mt-5 list-none">
          {{ range where site.RegularPages "Section" "strengths" }}
            <li>
              <article class="py-10 font-sans prose border-b">
                <button class="flex items-start justify-between w-full gap-5 accordion-toggle" data-toggle data-target="#{{ .Title | anchorize }}_body">
                  <h3 class="text-left">{{ .Title }}</h3>
                  <div class="absolute sr-only right-24">{{ .Title }}: Read more about this part of our process</div>
                  <div class="flex items-center justify-center flex-shrink-0 w-10 h-10 bg-white rounded-full accordion-toggle-icon">
                    <svg class="w-6 h-6" role="presentation">
                      <use xlink:href="#icon-arrow-down"/>
                    </svg>
                  </div>
                </button>
                <div id="{{ .Title | anchorize }}_body" class="mt-10 prose">
                  {{ .Content }}
                </div>
              </article>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>
  <section class="container section">
    <div class="prose">
      <h2 class="text-xl">Our offering</h2>
      <p>We don’t do upselling or false promises, just honest and transparent advice to help your organisation do better.</p>
    </div>
    {{ range $i,$p := .Pages }}
      {{ if not (modBool $i 2) }}
        <section id="{{ .Params.Heading | anchorize }}" class="section">
          <div class="grid gap-10 lg:grid-cols-12 lg:gap-20">
            {{ if .Params.cover_img }}
              <div class="col-span-full md:col-span-6 md:order-1">
                {{ partial "image__teaser-lg" . }}
              </div>
            {{ end }}
            <div class="col-span-full md:col-span-6">
              <div class="prose">
                <h2>{{ .Params.Heading }}</h2>
                <p>{{ .Description }}</p>
                <div class="section">
                  <h3>Services</h3>
                  <ul class="font-sans">
                    {{ range .Pages }}
                      <li>
                        {{ .Params.Heading }}
                      </li>
                    {{ end }}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {{ if .Params.related_projects }}
            <section class="section">
              <h3 class="h--condensed">Example {{ .Params.Heading }} projects</h3>
              <ul>
                {{ range .Params.related_projects }}
                  {{ with site.GetPage . }}
                    <li>
                      {{ partial "teaser" . }}
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            </section>
          {{ end }}
        </section>
      {{ else }}
        <section id="{{ .Params.Heading | anchorize }}" class="section">
          <div class="grid gap-10 lg:grid-cols-12 lg:gap-20">
            {{ if .Params.cover_img }}
              <div class="col-span-full md:col-span-6">
                {{ partial "image__teaser-lg" . }}
              </div>
            {{ end }}
            <div class="col-span-full md:col-span-6">
              <div class="prose">
                <h2>{{ .Params.Heading }}</h2>
                <p>{{ .Description }}</p>
                <div class="section">
                  <h3>Services</h3>
                  <ul class="font-sans">
                    {{ range .Pages }}
                      <li>
                        {{ .Params.Heading }}
                      </li>
                    {{ end }}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {{ if .Params.related_projects }}
            <section class="section">
              <h3 class="h--condensed">Example {{ .Params.Heading }} projects</h3>
              <ul>
                {{ range .Params.related_projects }}
                  {{ with site.GetPage . }}
                    <li>
                      {{ partial "teaser" . }}
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            </section>
          {{ end }}
        </section>
      {{end}}
    {{end}}
  </section>
</article>
{{ end }}
