{{ define "main" }}
<section>
  {{ partial "header__landing.html" . }}
  <div class="container prose section">
    {{ .Content }}
  </div>
  {{ range .Pages }}
    <section id="{{ .Title | anchorize }}" class="container section">
      <div class="grid grid-cols-12 gap-10">
        {{ if .Params.cover_img }}
          <div class="col-span-full md:col-span-6">
            {{ partial "image__teaser-lg" . }}
          </div>
        {{ end }}
        <div class="col-span-full md:col-span-6">
          <div class="prose">
            <h2>{{ .Title }}</h2>
            <p>{{ .Summary }}</p>
            <div class="section">
              <h3>Services</h3>
              <ul class="font-sans">
                {{ range .Pages }}
                  <li>
                    {{ .Title }}
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
          {{ with .Params.related_work }}
          <section class="section">
            <h3 class="h--condensed">Example digital projects</h3>
            <ul>
              {{ range . }}
                {{ with site.GetPage . }}
                  <li class="py-10 border-b">
                    <article>
                      <h4 class="font-serif">{{ .Title }}</h4>
                      <p>{{ .Summary }}</p>
                    </article>
                  </li>
                {{ end }}
              {{ end }}
            </ul>
          </section>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
</section>
{{ end }}
