{{ define "main" }}
<article>
  {{ partial "header__landing.html" . }}
  <section class="container section--lg">
    <div class="prose mb-12">
      <h2 id="our-offering" class="text-xl">Our offering</h2>
      <p>We don’t do upselling or false promises, just honest and transparent advice to help your organisation do better.</p>
    </div>
    <div class="grid grid-cols-4 lg:grid-cols-8 xl:grid-cols-12 gap-8 xl:gap-y-12">
      {{ range $i,$p := .Pages }}
        <section id="{{ .Params.Heading | anchorize }}" class="col-span-full xl:col-span-4">
          <a href="{{ .Permalink }}" class="group no-underline">
            <div class="flex flex-col md:flex-row xl:flex-col gap-10 h-full">
              <div class="aspect-3/4 lg:aspect-4/3">
                {{ if .Params.cover_img }}
                  {{ partial "image__teaser-lg" . }}
                {{ end }}
              </div>
              <div class="flex flex-col justify-between items-start">
                <div class="prose">
                  <h2>{{ .Params.Title }}</h2>
                  <p>{{ .Params.teaser_description }}</p>
                </div>
                <button class="mt-6 btn btn--primary shrink-0 group-hover:bg-blue group-hover:text-pink group-hover:border-blue group-focus:bg-blue group-focus:text-pink group-focus:border-blue">Read more <span class="sr-only"> about our {{ .Params.Title }} offering</span>
                  <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
                    <use xlink:href="#icon-arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </a>
        </section>
      {{ end }}
    </div>
  </section>
  <section class="container section">
    <div class="prose">
      <h2 id="how-we-work" class="text-xl">How we work</h2>
      <p>We have long-term, successful digital partnerships that focus on meeting user needs and delivering on strategic objectives. By spending more time on discovery and analysis before jumping into production we gain a clear understanding of <em><strong>why</strong></em> a brief is necessary and <em><strong>what</strong></em> we need to deliver in order to achieve a successful outcome</p>
    </div>
    <div class="lg:grid lg:grid-cols-12 lg:gap-20 section">
      <div class="hidden lg:col-span-4 md:block max-w-iphone lg:max-w-none">
        {{ partial "image" (dict 
          "alt" "A young woman holding a lead, walking, and looking behind her"
          "class" "object-cover w-full"
          "src" "/images/take-the-reins.png" 
        ) }}
      </div>
      <div class="col-span-full lg:col-span-8">
        <ul class="mt-5 list-none">
          {{ range where site.RegularPages "Section" "strengths" }}
            <li>
              <article class="py-10 font-sans prose border-b">
                <div class="relative flex">
                  <h3 class="h4 text-left mr-15">{{ .Title }}</h3>
                  <button class="absolute flex items-center justify-end w-full gap-5 accordion-toggle" data-toggle data-target="#{{ .Title | anchorize }}_body" title="Read more about this part of our process">
                    <span class="flex items-center justify-center flex-shrink-0 w-10 h-10 bg-white rounded-full accordion-toggle-icon">
                      <svg class="w-6 h-6" role="presentation">
                        <use xlink:href="#icon-chevron"/>
                      </svg>
                    </span>
                  </button>
                </div>
                <div id="{{ .Title | anchorize }}_body" class="mt-10 prose">
                  {{ .Content }}
                </div>
              </article>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>
</article>
{{ end }}
