{{ define "main" }}

{{ $title := .Title }}

<article class="pb-10{{ with .Params.page_class }} {{ . }}{{ end }}">
  {{ partial "header__service" . }}
  <div class="container py-12 lg:py-24 xl:min-h-screen snap-start grid grid-cols-4 lg:grid-cols-8 xl:grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8 items-end xl:items-center">
    <div class="col-span-full lg:col-span-5 xl:col-span-7 prose lede">
      {{ .Description | markdownify }}
    </div>
    <div class="col-span-full md:col-span-2 md:col-start-3 lg:col-span-3 xl:col-span-4 xl:col-start-9 bleed-right">
      {{ with .Params.teaser_image}}
        {{ partial "image" (dict 
          "alt" .alt
          "class" ""
          "src" .img
        ) }}
      {{ end }}
    </div>
  </div>
  <div class="bg-indigo text-buff section--lg">
    <div class="container snap-start grid grid-cols-4 lg:grid-cols-8 xl:grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8 items-start">
      <div class="col-span-full prose mb-4 lg:mb-8 xl:mb-12">
        <h2 class="h--condensed">{{ .Params.subservices_heading }}</h2>
        <p class="lede">{{ .Params.subservices_description }}</p>
      </div>
      {{ range .Pages }}
        <div class="col-span-full md:col-span-2 lg:col-span-4 2xl:col-span-3 flex flex-col gap-5">
          <h3 class="h4">{{ .Params.Heading }}</h3>
          {{ .Params.intro | markdownify }}
        </div>
      {{ end }}
    </div>
  </div>


  {{/* Clients */}}
  {{ with .Params.related_projects }}
  <section class="mb-12">
    <h2 class="sr-only">Examples of our work</h2>
    {{ $projects := . }}
    {{ $count := len $projects }}
    
    {{ range $i, $e := . }}
      {{ with $e.slug }}
        {{ with site.GetPage . }}
          {{ if eq $i 0 }}
            {{ partial "teaser__work-wide" (dict 
              "indent_images" $e.indent_images
              "indent_text" $e.indent_text
              "index" $i
              "count" $count
              "context" .
              "show_button" true
              "button_url" .Permalink
              "button_text" "Read case study"
            ) }}
          {{ else }}
            <div class="container">
              {{ partial "teaser__project" (dict
                "context" .
                "link" true
              ) }}
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </section>
  {{ end }}


  {{/* Packages */}}
  {{ with .Params.packages }}
    <div class="bg-teal text-blue">
      <div class="container section--lg">
        <div class="max-w-[57ch] mb-8">
          <h2 class="h--condensed mb-4">{{ .title }}</h2>
          <p class="font-bold">{{ .description }}</p>
        </div>
        <div class="grid grid-cols-4 lg:grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8 lg:gap-y-12">
          {{ range .items }}
            <div class="col-span-full lg:col-span-4 p-4 {{ .block_class }}">
              <h3 class="h--condensed mb-4">{{ .title }}</h3>
              <p class="lg:text-sm mb-4">{{ .description }}</p>
              {{ with .items }}
              <p class="lg:text-sm font-bold font-sans mb-2">What’s included</p>
              <ul class="lg:text-sm flex flex-col gap-1 font-sans">
                {{ range . }}
                  <li class="list-disc ml-4">{{ . }}</li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}


  {{/* Blog */}}
  {{ with .Params.related_posts }}
    <div class="container section--lg">
      <h2 class="h--condensed">Insights from our {{ $title }} team</h2>
      {{ partial "related-posts.html" . }}
    </div>
  {{ end }}


</article>
{{ end }}