
{{ define "main" }}
  {{ $title := .Title }}
  {{ $parent := .Parent.Title }}

  <article class="{{ with .Params.page_class }} {{ . }}{{ end }}">
    {{ partial "header__subservice" . }}
    <div class="container">
      {{- .Content -}}
    </div>

    {{/* Process */}}
    {{ with .Params.process }}
      {{ partial "process.html" ( dict
      "context" .
      ) }}
    {{ end }}

    {{/* Clients */}}
    {{ if .Params.related_work }}
      {{ partial "related-work.html"  (dict 
        "context" .Params.related_work
        "heading" "Case studies"
        "heading_class" "h--condensed text-lg lg:text-xl text-pink md:text-buff absolute z-20 top-5 md:relative md:top-0 md:mb-20"
        "block_class" "bg-blue text-buff pb-10 md:pt-10 lg:py-20 relative" 
        "hide_services" true
      ) }}
    {{ end }}


    {{/* Blog */}}
    {{ with .Params.related_posts }}
      <div class="container section--lg">
        <h2 class="h--condensed">{{ $title }} insights</h2>
        {{ partial "related-posts.html" . }}
      </div>
    {{ end }}
  </article>
{{ end }}
