{{ define "main" }}
<article class="pb-10{{ with .Params.page_class }} {{ . }}{{ end }}">
  {{ partial "header__page" . }}
  <div class="container">
    {{- .Content -}}
    {{ if .Params.related_work }}
      <div class="mt-10 lg:mt-20">
        <h2 class="h3">Our experience</h2>
        <ul class="flex flex-wrap gap-10 mt-5 lg:gap-20">
          {{ range .Params.related_work }}
            {{ with site.GetPage . }}
              <li class="w-full lg:w-1/3">
                {{ partial "card_work" (dict
                  "context" .
                ) }}
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    {{ end }}
    {{ if .Params.related_posts }}
      <div class="mt-10 lg:mt-20">
        <h2 class="h3">Insights on {{ .Params.Heading }}</h2>
        <ul class="flex flex-wrap gap-10 mt-5 lg:gap-20">
          {{ range .Params.related_posts }}
            {{ with site.GetPage . }}
              <li class="w-full lg:w-1/3">
                {{ partial "card" . }}
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>
</article>
{{ end }}
