{{ define "header" }}
<div class="absolute top-0 right-0 left-0 z-30">
  {{ partial "site__header" . .Section }}
</div>
{{ end }}

{{ define "main" }}

 <header class="w-full bg-indigo text-buff overflow-hidden min-h-screen">

  <div class="flex flex-col justify-end min-h-screen" data-image-flick>

    {{/* Header text with image (two images on mobile) */}}
    <div class="container 2xl:no-container flex flex-wrap items-end justify-between lg:items-stretch justify-end">
      <div class="w-full pt-9 pb-8 lg:w-[66%] xl:w-[60%] lg:pt-0 lg:pr-8 lg:flex lg:items-center 2xl:pl-[4vw]">
        <h1>{{ .Params.heading }}</h1>
      </div>
      <div class="bleed-left lg:hidden w-[54%]">
        {{ with index (.Params.banner_images) 0 }}
            {{ partial "image" (dict 
              "alt" .alt
              "class" ""
              "src" .img 
            ) }}
        {{ end }}
      </div>
      <div class="bleed-right w-[54%] aspect-3/4 lg:w-[34%] xl:w-[44%] lg:aspect-4/3" data-image-flick-item>
        {{ if .Params.cover_img }}
          {{ partial "image" (dict 
            "alt" .Params.cover_img_alt
            "class" "h-full object-cover"
            "src" .Params.cover_img 
          ) }}
        {{ end }}
      </div>
    </div>


    {{/* Images and logos */}}
    <div class="lg:flex lg:flex-nowrap w-screen">
      <div class="flex items-center order-2 bg-sky shrink-0 lg:px-8">
        <div class="container flex flex-col items-start justify-between gap-4 py-4 lg:w-auto lg:mx-0">
          <h2 class="text-base font-normal text-indigo">Trusted by</h2>
          <ul class="flex justify-between w-full gap-5 list-none lg:gap-8 2xl:gap-16 text-indigo">
            {{ with .Params.logos }}
              {{ range . }}
                <li>
                  <span class="sr-only">{{ .name }}</span>
                  <svg class="w-24 h-12 lg:w-36 lg:h-18 flex-no-shrink" role="presentation">
                    <use xlink:href="#icon-{{ .icon }}"/>
                  </svg>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
      {{ with .Params.banner_images }}
        {{ range $i, $image := . }}
        <div class="{{ if not $i }}order-1{{ else }} order-last{{ end }} hidden lg:block aspect-4/3 lg:shrink-0 lg:max-h-[20vh]" data-image-flick-item>
          {{ partial "image" (dict 
            "alt" $image.alt
            "class" "h-full w-full object-cover"
            "src" $image.img 
          ) }}
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
 </header>



  {{/* Work */}}

  {{ partial "work-section"  (dict
    "context" .
    "heading" "Our work"
    "section" .Params.slug
    "bgColourClass" "bg-blue"
    "textColourClass" "text-pink"
  ) }}


  {{/* Testimonials */}}
  <div class="bg-indigo text-buff" id="testimonials">
    <div class="container flex items-center section--lg">
      <div class="flex flex-col items-start w-full gap-10 section--lg">
        <h2 class="h--condensed text-3xl mb-8 lg:mb-12">What our clients say</h2>
        <div class="w-full grid grid-cols-1 lg:grid-cols-8 xl:grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8">
          {{ range .Params.testimonials }}
            {{ with site.GetPage . }}
              <figure class="lg:col-span-4 xl:col-span-6">
                <blockquote class="p-0 font-bold border-0 max-w-cta-copy" itemscope itemtype="http://schema.org/CreativeWork">
                  &ldquo;{{ .Content | markdownify }}&rdquo;
                </blockquote>
                <figcaption class="text-sm mt-5 font-serif border-l-3 border-orange pl-2.5">
                  <div>
                    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span class="font-bold" itemprop="name">{{ .Params.Title }}</span>
                    </div>
                    {{ if .Params.Role }}
                      <span itemprop="jobTitle">{{ .Params.Role }}</span>
                    {{ end }}
                  </div>
                </figcaption>
              </figure>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  {{/* Services */}}
  <div class="flex items-center bg-teal text-blue" id="services">
    <div class="container flex flex-col items-start gap-10 section--lg">
      <div class="grid grid-cols-4 lg:grid-cols-8 xl:grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8 lg:gap-y-12">
        <div class="flex flex-col gap-8 col-span-full xl:col-span-8">
          <h2 class="text-3xl h--condensed">How Kind can help</h2>
          <p class="max-w-cta-copy">{{ .Params.help_intro }}</p>
        </div>
        <div class="hidden xl:col-span-3 xl:block">
          {{ partial "image" (dict 
            "alt" "Illustration: A person climbing a ladder towards a large hand"
            "class" "object-cover w-full"
            "src" "images/be-a-good-human.png" 
          ) }}
        </div>
        {{ range .Params.help_items }}
          <div class="col-span-full sm:col-span-3 lg:col-span-3">
            <h3 class="mb-2 h4">{{ .title }}</h3>
            <p class="font-sans text-sm ">{{ .description }}</p>
          </div>
        {{ end }}
      </div>
      <a class="btn btn--primary" href="#newsletter" onclick="javascript:insights.track({id: 'sector-interested',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});">
        Interested?
        <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
          <use xlink:href="#icon-arrow"/>
        </svg>
      </a>
    </div>
  </div>
{{ end }}


