{{ define "header" }}
 <header class="w-full bg-indigo text-buff overflow-hidden lg:min-h-[20vh] snap-start">
  <div class="container 2xl:no-container 2xl:w-screen flex flex-wrap justify-between gap-5">
    <div class="pt-5 xl:pt-16 2xl:pl-[4vw]">
      {{ partial "logo" . }}
    </div>
    <div class="bg-pink text-claret max-w-1/2 w-60 xl:w-96 h-28 lg:h-auto lg:min-h-[20vh] flex justify-center bleed-right items-center 2xl:bleed-none">
      <svg class="w-12 h-16 xl:w-16 xl:h-20" role="presentation">
        <use xlink:href="#icon-bcorp"/>
      </svg>
    </div>
  </div>
 </header>
{{ end }}

{{ define "main" }}
<article class="w-full bg-indigo text-buff overflow-hidden">

  <div class="lg:min-h-[80vh]" data-image-flick>

    {{/* Header text with image (two images on mobile) */}}
    <div class="container 2xl:no-container flex flex-wrap items-end lg:items-stretch justify-end lg:min-h-[60vh]">
      <div class="w-full pt-9 pb-8 lg:w-[66%] xl:w-[56%] lg:pt-0 lg:pr-8 lg:flex lg:items-center 2xl:pl-[4vw]">
        <h1>{{ .Params.heading }}</h1>
      </div>
      <div class="bleed-left lg:hidden w-[54%]">
        {{ with index (.Params.banner_images) 0 }}
            {{ partial "image" (dict 
              "alt" .alt
              "class" ""
              "src" .img 
            ) }}
        {{ end }}
      </div>
      <div class="bleed-right w-[54%] aspect-3/4 lg:w-[34%] xl:w-[44%] lg:aspect-auto" data-image-flick-item>
        {{ if .Params.cover_img }}
          {{ partial "image" (dict 
            "alt" .Params.cover_img_alt
            "class" "h-full object-cover"
            "src" .Params.cover_img 
          ) }}
        {{ end }}
      </div>
    </div>


    {{/* Images and logos */}}
    <div class="lg:flex lg:flex-nowrap w-screen lg:min-h-[20vh]">
      <div class="bg-sky shrink-0 order-2 flex items-center lg:px-8">
        <div class="container lg:w-auto lg:mx-0 py-8 lg:py-12 flex flex-col gap-2 items-start justify-between">
          <h2 class="text-base font-normal text-indigo">Trusted by</h2>
          <ul class="list-none flex gap-5 lg:gap-8 2xl:gap-16 text-indigo w-full justify-between">
            {{ with .Params.logos }}
              {{ range . }}
                <li>
                  <span class="sr-only">{{ .name }}</span>
                  <svg class="w-24 h-12 lg:w-36 lg:h-18 flex-no-shrink" role="presentation">
                    <use xlink:href="#icon-{{ .icon }}"/>
                  </svg>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
      {{ with .Params.banner_images }}
        {{ range $i, $image := . }}
        <div class="{{ if not $i }}order-1{{ else }} order-last{{ end }} hidden lg:block aspect-4/3 lg:shrink-0 lg:max-h-[20vh]" data-image-flick-item>
          {{ partial "image" (dict 
            "alt" $image.alt
            "class" "h-full w-full object-cover"
            "src" $image.img 
          ) }}
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>


  {{/* Intro */}}
  <div class="container min-h-screen snap-start flex items-center">
    <div class="lg:grid lg:grid-cols-8 xl:grid-cols-12">
      <div class="section--lg flex flex-col items-start gap-5 lg:gap-10 lg:col-span-6 xl:col-span-8">
        <h2 class="h1">Let’s be clear &mdash; we’re not for everyone</h2>
        <p class="max-w-4xl">All our clients must have a mission that comes before profit. If that sounds like you, maybe we could work together.</p>
        <a class="btn btn--teal mb-2" href="#clients">
          What clients?
          <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
            <use xlink:href="#icon-arrow"/>
          </svg>
        </a>
      </div>
    </div>
  </div>

  {{/* Clients */}}
  {{ if .Params.projects }}
  <div class="bg-buff text-indigo" id="clients">
    <h2 class="sr-only">Examples of our work</h2>
    {{ $projects := .Params.projects }}
    {{ $count := len $projects }}
    
      {{ range $i, $e := .Params.projects }}
      <div class="min-h-screen snap-start overflow-hidden w-full">
      
        <div class="flex gap-3 -ml-8 lg:m-0 {{ if $e.indent_images }} justify-end {{ end }}">
          {{ range $i, $image := $e.images }}
            <div class="relative aspect-4/3 shrink-0 h-60 lg:h-[18rem] xl:h-[24rem] 2xl:h-[28rem] {{ if $image.stat }} order-first xl:order-last {{ else }} order-{{ (add $i 1 ) }}{{ end }}">
              {{ partial "image" (dict 
                "alt" $image.alt
                "class" "h-full w-auto object-cover"
                "src" $image.img 
              ) }}
              {{ range $image.stat }}
                {{ with site.GetPage . }}
                <div class="absolute inset-0 flex flex-col gap-2 p-5 items-start justify-end text-white ml-8 lg:m-0">
                  <h4 class="h--condensed text-3xl 2xl:text-5xl">{{ if .Params.prefix }}<span class="text-2xl 2xl:text-3xl">{{ .Params.prefix }}</span>{{ end }}{{ .Title }}{{ if .Params.suffix }}<span class="text-2xl 2xl:text-3xl">{{ .Params.suffix }}</span>{{ end }}</h4>
                  <div class="max-w-xs lg:max-w-md font-bold">
                    {{ if .Params.short_text }}{{ .Params.short_text }} {{ else }}{{ .Content }}{{ end }}
                  </div>
                </div>
                {{ end }}
              {{ end }}
            </div>
          {{ end }}
        </div>

        <div class="container section--lg">
          <div class="grid lg:grid-cols-8 xl:grid-cols-12 gap-y-8 lg:gap-y-24 lg:gap-y-6 xl:gap-8 lg:items-end">
            <div class="lg:col-span-7 {{ if $e.indent_text }} lg:col-start-2 xl:col-start-4 {{ end }} flex flex-col gap-4">
              {{ with $e.icon}}
              <svg class="w-24 h-12 flex-no-shrink" role="presentation">
                <use xlink:href="#icon-{{ . }}"/>
              </svg>
              {{ end }}

              <h3 class="text-2xl 2xl:text-3xl h--condensed">{{ $e.title }}</h3>
              {{ $e.description }}
            </div>
            {{ if eq $i (sub $count 1) }}
              <div class="lg:col-span-full xl:col-span-4 xl:col-start-9">
                <a class="btn btn--primary" href="#testimonials">
                  Happy clients though?
                  <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
                    <use xlink:href="#icon-arrow"/>
                  </svg>
                </a>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
  {{ end }}

  {{/* Testimonials */}}
  <div class="container min-h-screen snap-start flex items-center" id="testimonials">
    <div class="section--lg flex flex-col items-start w-full gap-10">
      <h2 class="h--condensed">What our clients say</h2>
      <div class="w-full grid grid-cols-1 lg:grid-cols-8 xl:grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8">
        {{ range .Params.testimonials }}
          {{ with site.GetPage . }}
            <figure class="lg:col-span-4 xl:col-span-6">
              <blockquote class="p-0 border-0 font-bold max-w-cta-copy" itemscope itemtype="http://schema.org/CreativeWork">
                {{ .Content | markdownify }}
              </blockquote>
              <figcaption class="text-sm mt-5 font-serif border-l-3 border-orange pl-2.5">
                <div>
                  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span class="font-bold" itemprop="name">{{ .Params.Title }}</span>
                  </div>
                  {{ if .Params.Role }}
                    <span itemprop="jobTitle">{{ .Params.Role }}</span>
                  {{ end }}
                </div>
              </figcaption>
            </figure>
          {{ end }}
        {{ end }}
      </div>
      <a class="btn btn--pink" href="#services">
        Ok, so how can you help me?
        <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
          <use xlink:href="#icon-arrow"/>
        </svg>
      </a>
    </div>
  </div>

  {{/* Services */}}
  <div class="snap-start min-h-screen flex items-center bg-teal text-blue" id="services">
    <div class="container flex flex-col items-start gap-10">
      <div class="grid grid-cols-4 lg:grid-cols-8 xl:grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8 lg:gap-y-12">
        <div class="col-span-full xl:col-span-8 flex flex-col gap-8">
          <h2 class="h--condensed">How Kind can help</h2>
          <p class="max-w-cta-copy">{{ .Params.help_intro }}</p>
        </div>
        <div class="hidden xl:col-span-3 xl:block">
          {{ partial "image" (dict 
            "alt" "Illustration: A person climbing a ladder towards a large hand"
            "class" "object-cover w-full"
            "src" "/images/be-a-good-human.png" 
          ) }}
        </div>
        {{ range .Params.help_items }}
          <div class="col-span-full sm:col-span-3 lg:col-span-3">
            <h3 class="h4 mb-2">{{ .title }}</h3>
            <p class="font-sans text-sm ">{{ .description }}</p>
          </div>
        {{ end }}
      </div>
      <a class="btn btn--primary" href="#contact">
        Talk to us
        <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
          <use xlink:href="#icon-arrow"/>
        </svg>
      </a>
    </div>
  </div>
</article>
{{ end }}

{{ define "footer" }}
<footer id="contact" class="snap-start">
  <div class="grid overflow-hidden bg-indigo text-buff">
    <div class="container grid md:gap-10 md:grid-cols-2 items-center 2xl:grid-cols-3 2xl:no-container 2xl:w-screen">
      <div class="section--lg order-2 md:order-1 2xl:pl-[4vw] 2xl:col-span-2">
        <div class="prose mb-8 lg:mb-16">
          <h2 class="text-3xl h--condensed">Arrange a chat with our founder</h2>
          <p class="mt-6 leading-tight text-md">That's me! I founded Kind to be a force for good and would love to chat about how we might help you.</p>
        </div>
        <a class="btn btn--pink mb-2" href="https://calendly.com/madebykind/30-min-call-with-mat-at-kind">
          Book a chat
          <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
            <use xlink:href="#icon-arrow"/>
          </svg>
        </a>
        <p class="max-w-[20rem] leading-none font-sans"><small>No fee. No obligation. Just a friendly conversation about your goals and your challenges.</small></p>
      </div>
      <div class="relative bleed md:ml-0 order-1 md:order-2 aspect-4/3 md:aspect-3/4">
        {{ partial "image" (dict 
          "alt" "Mat Hayward, founder of Kind"
          "class" "object-cover h-full w-full"
          "src" "/images/Team-Mat.jpg" 
        ) }}
      </div>
    </div>
  </div>
</footer>
{{ end }}