{{ define "main" }}
<article{{ if isset .Params "page_class"}} class="{{ .Params.page_class }}"{{ end }}>
  
  {{ partial "page__header" . }}

  <div class="container grid grid-cols-12 gap-10 font-sans font-light prose section">
    <div class="col-span-full lg:col-span-8">
      <div class="max-w-4xl">
        {{- .Content -}}
      </div>
    </div>

    {{ with .Params.related_posts }}
      <div class="container section">
        <h2 class="h--condensed">Related posts</h2>
        {{ partial "related-posts.html" . }}
      </div>
    {{ end }}

  </div>
</article>
{{ end }}
