/* ==========================================================================
    Create a theme specific background
   ========================================================================== */

.bg-ui {
  background-color: var(--color-bg-ui);
}
