/* ==========================================================================
    Create a theme specific border
   ========================================================================== */

.border-ui {
  border-color: var(--color-border-ui);
}

/* Debug layout */
.border-debug {
  & > * {
    box-shadow: 0 0 0 1px var(--color-border-ui);
  }
}
