/* ==========================================================================
    Create a theme specific border
   ========================================================================== */

.border-ui {
  border-color: var(--color-border-ui);
}
