/* ==========================================================================
    BUTTON
   ========================================================================== */


.btn {
  @apply
    antialiased
    border-3 border-transparent
    flex items-center
    font-bold
    gap-5
    leading-none
    no-underline
    px-5
    min-h-[3em]
  ;
}

.btn--primary {
  @apply
    bg-indigo 
    text-buff
  ;
}

.btn--secondary {
  @apply
    border-indigo
  ;
}
