/* ==========================================================================
    BUTTON
   ========================================================================== */


  .btn {
    @apply
      border
      inline-flex items-center
      gap-5
      no-underline
      p-2 px-5
      min-h-[3em]
    ;
  }

  .btn--primary {
    @apply
      bg-indigo 
      text-buff
    ;
  }
