/* ==========================================================================
    Device frames
   ========================================================================== */

.frame__iphone {
  background-image: url(/static/img/iphone.png);
  background-repeat: none;
}

.frame__ipad {
  background-image: url(/static/img/ipad.png);
  background-repeat: none;
}
