/* ==========================================================================
    Device frames
   ========================================================================== */

.frame {
    @apply 
    bg-indigo
    bg-cover
  ;
}

.frame__iphone {
  background-image: url(/img/iphone.png);
  border-radius: 4.25rem;
}

.frame__ipad {
  background-image: url(/img/ipad.png);
}
