/* ==========================================================================
    Device frames
   ========================================================================== */

/* .frame {
    @apply 
    bg-indigo
  ;
}

.frame__iphone {
  background-image: url(/img/iphone.png);
  border-radius: 4.25rem;
  background-size: 404px 834px;
  background-repeat: no-repeat;
}

.frame__ipad {
  background-image: url(/img/ipad.png);
}
 */