/* ==========================================================================
    GRID
   ========================================================================== */


.grid--h {
  @apply
    auto-cols-auto
    gap-x-10 
    lg:grid grid-flow-col 
  ;
}
/* 
.grid--v {
  @apply
    gap-5 
    grid grid-flow-row
  ;
} */