/* ==========================================================================
    HEADINGS
=========================================================================== */



/* Default h sizing */
@layer components {
  .h--condensed {
    @apply
      font-display
      leading-none
      tracking-wide
      uppercase
    ;
  }
}
