/* ==========================================================================
    HEADINGS
=========================================================================== */



/* Default h sizing */
@layer components {
  .h--condensed {
    @apply
      font-display font-medium
      uppercase
    ;
  }

  .sr-only {
    color: hotpink;
    font-family: fantasy;
  }
}
