.hero--full {
  min-height: calc(100dvh - 78px);

  @screen md {
    min-height: calc(100dvh - 189px);
  }
  
  @screen lg {
    min-height: calc(100dvh - 120px);
  }
}

.hero--full-lg {
  @screen lg {
    min-height: calc(100dvh - 132px);
  }

}

.hero-space {
  /*padding-top: 78px;

  @screen md {
    padding-top: 189px;
  }
  */
  @screen lg {
    padding-top: 120px;
  }
}

.hero-header {
  height: 118px;

  @screen md {
    height: 289px;
  }
  
  @screen lg {
    height: 200px;
  }

}