/* ==========================================================================
    SECTION
   ========================================================================== */

.section {
  @apply py-12;

  @screen xl {
    @apply py-16;
  }
}

.section--lg {
  @apply py-24;

  @screen xl {
    @apply py-32;
  }
}

.section--sm {
  @apply py-6;

  @screen xl {
    @apply py-8;
  }
}
