/* ==========================================================================
    SECTION
   ========================================================================== */

.section {
  @apply py-5 xl:py-10;
}