/* ==========================================================================
    SECTION
   ========================================================================== */

.section {
  @apply py-5 xl:py-10;
}

.section--lg {
  @apply py-10 lg:py-20 xl:py-30;
}