/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */

.amp {
  /* Use the best available ampersands, HT @simplebits */
  font-family: Baskerville, 'Palatino Linotype', Palatino, Constantia, Georgia, 'Book Antiqua', 'Times New Roman', serif;

  @apply
    italic
  ;
}

.lede {
  @apply 
    leading-tight
    text-md
  ;
}
