/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */

/* Use the best available ampersands, HT @simplebits */
.amp {
  font-family: Baskerville, 'Palatino Linotype', Palatino, Constantia, Georgia, 'Book Antiqua', 'Times New Roman', serif;
  font-style: italic;
}

.lede {
  @apply 
    leading-tight
    text-md
  ;
}
