{{ define "header" }}
 <header class="w-full bg-indigo text-buff overflow-hidden lg:min-h-[20vh] snap-start">
  <div class="container flex flex-wrap justify-between gap-5 2xl:no-container 2xl:w-screen">
    <div class="pt-5 xl:pt-16 2xl:pl-[4vw]">
      {{ partial "logo" . }}
    </div>
    <div class="bg-pink text-claret max-w-1/2 w-32 lg:w-60 xl:w-96 h-28 lg:h-auto lg:min-h-[20vh] flex justify-center bleed-right items-center 2xl:bleed-none">
      <svg class="w-12 h-16 xl:w-16 xl:h-20" role="presentation">
        <use xlink:href="#icon-bcorp"/>
      </svg>
    </div>
  </div>
 </header>
{{ end }}

{{ define "main" }}
<article class="w-full overflow-hidden">
  <div class="bg-indigo text-buff lg:min-h-[80vh] flex items-end">
    <div class="container 2xl:no-container flex flex-wrap items-end justify-between lg:items-stretch justify-end lg:min-h-[60vh]">
      <div class="section w-full pt-9 pb-8 lg:w-1/2 lg:pt-0 lg:pr-8 gap-8 lg:gap-12 flex flex-col lg:justify-center 2xl:pl-[4vw]">
        {{ with .Params.logo }}
          {{ range . }}
            <span class="sr-only">{{ .name }}</span>
            <svg class="w-24 h-12 lg:w-36 lg:h-18 xl:h-24 xl:w-48 flex-no-shrink" role="presentation">
              <use xlink:href="#icon-{{ .icon }}"/>
            </svg>
          {{ end }}
        {{ end }}
        <h1>{{ .Params.heading }}</h1>
        <p class="text-md">{{ .Params.subheading }}</p>
      </div>
      <div class="flex flex-col items-end justify-end w-full lg:w-1/2 bleed-right">
        <div class="lg:w-5/6">
          {{ if .Params.cover_img }}
            {{ partial "image" (dict 
              "alt" .Params.cover_img_alt
              "class" "h-full object-cover"
              "src" .Params.cover_img 
            ) }}
          {{ end }}
        </div>
        <div class="w-full flex">
          {{ with index (.Params.banner_images) 0 }}
            <div class="w-1/2 aspect-square ">
              {{ partial "image" (dict 
                "alt" .alt
                "class" "h-full object-cover"
                "src" .img 
              ) }}
            </div>
          {{ end }}
          <div class="w-1/2 aspect-square">
            {{ with index (.Params.banner_images) 1 }}
                {{ partial "image" (dict 
                  "alt" .alt
                  "class" "w-full h-1/2 object-cover"
                  "src" .img 
                ) }}
            {{ end }}
            {{ with index (.Params.banner_images) 2 }}
              {{ partial "image" (dict 
                "alt" .alt
                "class" "w-full h-1/2 object-cover"
                "src" .img 
              ) }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container snap-start">
    <div class="lg:grid lg:grid-cols-12">
      <div class="flex flex-col items-start gap-5 section--lg lg:gap-10 lg:col-span-8">
        <h2 class="text-4xl h--condensed">Let’s be clear &mdash; we’re not for everyone</h2>
        <div class="leading-normal text-md">
          <p>All our clients must have a mission that comes before profit. If that sounds like you, maybe we could work together.</p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
    <div class="lg:bleed-left ">
        {{ partial "image" (dict 
          "alt" "The Kind team working on the Garden Organic project."
          "class" "object-cover w-full h-full"
          "src" "images/work-garden-organic-kind-team.jpg" 
        ) }}
    </div>
      <div class="flex justify-center section">
        <div class="flex flex-col max-w-xl gap-5">
        <h2 class="text-4xl h--condensed">We give a damn</h2>
          <p class="text-balance">We’re committed to building <strong>an ethical and responsible business</strong>. So we’re proud to be a certified B Corporation,
          members of 1% for the planet, have a 100% socially-responsible client base, and have donated 28% of our profits to charitable causes.</p>
        </div>
      </div>
    </div>
  </div>

  {{ partial "our-impacts" . }}

  {{/* Services */}}
  <div class="min-h-screen snap-start bg-sky text-indigo section--lg" id="services">
    <div class="container flex flex-col items-start gap-10 xl:gap-20">
      <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 lg:gap-10">
        <div class="flex flex-col gap-8">
          <h2 class="h1">So how can we help you?</h2>
          <p class="max-w-3xl text-md">{{ .Params.help_intro }}</p>
        </div>
        <div class="hidden xl:block">
          {{ partial "image" (dict 
            "alt" "Illustration: two big friendly hands making a heart shape"
            "class" "object-cover w-full"
            "src" "images/big-heart-huge-results.png" 
          ) }}
        </div>
      </div>
      <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 lg:gap-10">
        {{ range $index, $element := .Params.help_items }}
          <div class="flex flex-col gap-5">
            <h3 class="mb-2 h4">{{ $element.title }}</h3>
            <div class="flex flex-col gap-5 font-sans text-sm">
              {{ $element.description | markdownify  }}
            </div>
            {{ if $element.readmore }}
              <div id="help-{{ $index }}" class="flex flex-col gap-5 font-sans text-sm">{{ $element.readmore | markdownify  }}</div>
              <button class="accordion-toggle" data-toggle data-target="#help-{{ $index }}">
                <div class="flex items-center gap-2.5 font-sans">
                  <div class="flex items-center justify-center w-5 h-5 rounded-full bg-indigo text-buff accordion-toggle-icon">
                    <svg class="w-3 h-3" role="presentation">
                      <use xlink:href="#icon-chevron"/>
                    </svg>
                  </div>
                  <p class="text-sm">Read more
                    <span class="sr-only">about {{ $element.title }}</span>
                  </p>
                </div>
              </button>
            {{ end }}
          </div>
        {{ end }}
      </div>
      <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
        <div class="lg:order-1 lg:bleed-right">
        {{ partial "image" (dict 
          "alt" "Team Kind!"
          "class" "w-full object-cover h-full"
          "src" "images/strategy-notes.jpg" 
        ) }}
        </div>
        <div class="flex items-center justify-center gap-5 lg:flex-wrap lg:gap-10">
          <p class="text-md max-w-cta-copy">{{ .Params.help_intro_2 }}</p>
        </div>
      </div>
    </div>
  </div>

  {{/* Clients  */}}
  {{ with .Params.related_projects }}
    <section id="clients">
      <div class="container section--lg">
        <h2 class="text-3xl h--condensed">Some of our client work</h2>
      </div>
      <div class="flex flex-col gap-5 lg:gap-10 2xl:gap-15">
        {{ range $index, $element := . }}
          {{ $odd := false }}
          {{ if not (modBool $index 2)}}
            {{ $odd = true }}
          {{ end }}

          {{ with $element.slug }}
            {{ with site.GetPage . }}
              {{ partial "teaser__client" (dict 
                "index" $index
                "context" .
                "odd" $odd
              ) }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  {{ end }}

  {{/* Selected insights */}}
  {{ with .Params.related_posts }}
    <div class="container section--lg">
      <h2 class="h--condensed">Insights we think you will find useful</h2>
      {{ partial "related-teasers.html" . }}
    </div>
  {{ end }}

  {{/* Testimonials */}}
  <div class="text-buff bg-indigo">
    <div class="container flex items-center section--lg snap-start min-h-[80vh]" id="testimonials">
      <div class="flex flex-col items-start w-full gap-10">
        <h2 class="h--condensed">What our clients say</h2>
        <div class="grid w-full grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-5 xl:gap-10">
          {{ range .Params.testimonials }}
            {{ with site.GetPage . }}
              <figure>
                <blockquote class="p-0 text-lg font-bold leading-tight border-0" itemscope itemtype="http://schema.org/CreativeWork">
                  &ldquo;{{ .Content | markdownify }}&rdquo;
                </blockquote>
                <figcaption class="text-sm mt-5 font-serif border-l-3 border-orange pl-2.5">
                  <div>
                    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span class="font-bold" itemprop="name">{{ .Params.Title }}</span>
                    </div>
                    {{ if .Params.Role }}
                      <span itemprop="jobTitle">{{ .Params.Role }}</span>
                    {{ end }}
                  </div>
                </figcaption>
              </figure>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</article>
{{ end }}

{{ define "footer" }}
<footer id="contact" class="snap-start">
  <div class="grid overflow-hidden bg-blue text-buff">
    <div class="container grid items-center md:gap-10 md:grid-cols-2 2xl:grid-cols-3 2xl:no-container 2xl:w-screen">
      <div class="section--lg order-2 md:order-1 2xl:pl-[4vw] 2xl:col-span-2">
        <div class="mb-8 prose lg:mb-16">
          <h2 class="text-3xl h--condensed">Arrange a chat with our founder</h2>
          <div class="max-w-2xl mt-6">
            <p class="leading-tight text-md">That’s me! I founded Kind to be a force for good and would love to chat about how we might help you.</p>
          </div>
        </div>
        <a class="mb-2 btn btn--pink" href="https://calendly.com/madebykind/30-min-call-with-mat-at-kind" onclick="javascript:insights.track({id: 'personal-book-chat',parameters: {locale: personal.parameters.locale(),screenSize: personal.parameters.screenType(),referrer: personal.parameters.referrer(),path: personal.parameters.path()}});">
          <span class="whitespace-nowrap">Book a chat</span>
          <svg class="w-8 h-8 shrink-0" viewbox="0 0 77 63" role="presentation">
            <use xlink:href="#icon-arrow"/>
          </svg>
        </a>
        <p class="max-w-[20rem] leading-none font-sans"><small>No fee. No obligation. Just a friendly conversation about your goals and your challenges.</small></p>
      </div>
      <div class="relative order-1 bleed md:ml-0 md:order-2 aspect-4/3 md:aspect-3/4">
        {{ partial "image" (dict 
          "alt" "Mat Hayward, founder of Kind"
          "class" "object-cover h-full w-full"
          "src" "images/team-mat.jpg" 
        ) }}
      </div>
    </div>
  </div>
</footer>
{{ end }}