{{ define "main" }}
  {{ partial "header__list.html" . }}
  <nav id="js--filters" class="container grid gap-5 section snap-start">
    <h2 class="h--condensed">Filter by topic</h2>
    {{ partial "topic-filters" . }}
  </nav>
  <section class="container snap-start">
    <h2 class="sr-only">Featured posts</h2>
    <ol class="grid gap-10 lg:grid-cols-12 section lg:gap-20">
      {{ range ( where .Pages "Params.featured" "==" true ) }}
        <li class="lg:col-span-6 xl:col-span-4"{{ with .Params.topics }} data-topics="{{ range . }}{{ . | anchorize }} {{ end }}"{{ end }}>
          {{ partial "card" . }}
        </li>
      {{ end }}
    </ol>
  </section>
  <section class="container mt-20">
    <h2 class="h--condensed text-md">Insights</h2>
    <ol class="flex flex-wrap">
      {{ range ( where .Pages "Params.featured" "!=" true ) }}
        <li class="w-full"{{ with .Params.topics }} data-topics="{{ range . }}{{ . | anchorize }} {{ end }}"{{ end }}>
          {{ partial "teaser" . }}
        </li>
      {{ end }}
    </ol>
  </section>
{{ end }}
