{{ define "main" }}
<section class="pb-10">
  {{ partial "header__list.html" . }}
  <nav class="container grid gap-5 section">
    <h2 class="h--condensed">Filter by topic</h2>
    {{ partial "section-tags" . }}
  </nav>
  <section class="container">
    <h2 class="sr-only">Featured posts</h2>
    <ol class="grid grid-cols-12 gap-10 section lg:gap-20">
      {{ range first 6 ( where .Pages "Params.featured" "!=" nil ) }}
        <li class="col-span-full lg:col-span-6 xl:col-span-4">
          {{ partial "card" . }}
        </li>
      {{ end }}
    </ol>
  </section>
  <section class="container mt-20">
    <h2 class="h--condensed text-md">Insights</h2>
    <ol class="flex flex-wrap">
      {{ range first 9 ( where .Pages "Params.featured" "!=" true ) }}
        <li class="w-full">
          {{ partial "teaser" . }}
        </li>
      {{ end }}
    </ol>
  </section>
</section>
{{ end }}
