{{ define "main" }}

<article>
  
  {{ partial "header__post" . }}
  
  <div class="container grid grid-cols-12 gap-10 font-sans font-light">
    <div class="col-span-full lg:col-span-8">
      <div class="max-w-4xl prose">
        {{- .Content -}}
      </div>
    </div>

    {{ with .Params.related_pages }}
      <aside class="col-span-full lg:col-span-4">
        <h2 class="font-sans text-sm font-bold">Related</h2>
        {{ partial "related-pages.html" . }}
      </aside>
    {{ end }}
  </div>

  {{ if .Params.topics }}
    <footer class="container mt-10 border-t section ">
        {{ partial "topics" . }}
    </footer>
  {{ end }}
  
  {{ with .Params.related_posts }}
    <div class="container section">
      <h2 class="h--condensed">You may also be interested in</h2>
      {{ partial "related-posts.html" . }}
    </div>
  {{ end }}

</article>
{{ end }}
