{{ define "main" }}

<article id="content" class="pb-10{{ with .Params.page_class }} {{ . }}{{ end }}">
  {{ partial "header__post" . }}
  <div class="container grid gap-10 md:grid-cols-12 ">
    <div class="col-span-full lg:col-span-8">
      <div class="font-sans font-light prose prose-page first:mt-10">
        {{- .Content -}}
      </div>
    </div>

    {{ with .Params.related_pages }}
      <aside class="mt-10 col-span-full lg:col-span-4">
      <div class="sticky top-10 ">
        <h2 class="font-sans text-sm font-bold">Related</h2>
        {{ partial "related-pages.html" . }}
      </div>
      </aside>
    {{ end }}
    
  </div>

  {{ if .Params.topics }}
    <footer class="container mt-10 border-t section ">
      {{ partial "topics" . }}
    </footer>
  {{ end }}
  
  {{ with .Params.related_posts }}
    <div class="container section--lg">
      <h2 class="h--condensed">You may also be interested in</h2>
      {{ partial "related-posts.html" . }}
    </div>
  {{ end }}

</article>
{{ end }}
