{{ define "main" }}

<article class="pb-10{{ if isset .Params " page_class"}} {{ .params.page_class }}{{ end }}">

  {{ partial "header__post" . }}
  
  <div class="container grid grid-cols-12 gap-10 ">
    <div class="col-span-full lg:col-span-8">
      <div class="font-sans font-light prose first:mt-10">
        {{- .Content -}}
      </div>
    </div>

    {{ with .Params.related_pages }}
      <aside class="mt-10 col-span-full lg:col-span-4">
      <div class="sticky top-10 ">
        <h2 class="font-sans text-sm font-bold">Related</h2>
        {{ partial "related-pages.html" . }}
      </div>
      </aside>
    {{ end }}
    
  </div>

  {{ if .Params.topics }}
    <footer class="container mt-10 border-t section ">
        {{ partial "topics" . }}
    </footer>
  {{ end }}
  
  {{ with .Params.related_posts }}
    <div class="container section">
      <h2 class="h--condensed">You may also be interested in</h2>
      {{ partial "related-posts.html" . }}
    </div>
  {{ end }}

</article>
{{ end }}
