{{ define "main" }}
<section>
  {{ partial "header__landing.html" . }}
  <nav class="container grid gap-5 section">
    <h2 class="h--condensed">Filter by topic</h2>
    {{ partial "section-tags" . }}
  </nav>
  <ol class="container grid gap-10 lg:grid-cols-12 section lg:gap-20">
	  {{ range .Pages }}
      <li class="col-span-full lg:col-span-6 xl:col-span-4"{{ with .Params.topics }} data-topics="{{ range . }}{{ . | anchorize }} {{ end }}"{{ end }}>
        {{ partial "card_work" . }}
      </li>
    {{ end }}
  </ol>
  
{{/*
  {{ partial "pagination.html" . }}
*/}}

</section>
{{ end }}
