{{ block "fullPage" . }}
<!doctype html>
<html class="min-h-full js-loading {{ if eq "sectors" .Section  }}snap-y snap-proximity overflow-y-auto h-screen{{ end }}" lang="{{ $.Site.Language.Lang }}" itemscope itemtype="http://schema.org/WebPage">

  <!-- The <head> element. See https://github.com/joshbuchea/HEAD for what _could_ go here. -->
  {{ block "head" . }}
    {{ partial "head" . }}
  {{ end }}
  
  <body class="antialiased min-h-screen font-serif text-base leading-normal auto-rows-auto liga kern w-full {{ if .IsHome }} bg-indigo text-buff {{ else }} bg-buff text-indigo {{ end }} overflow-x-hidden">
    <!-- The Bush Kangaroo -->
    <a href="#content" class="sr-only focus:not-sr-only">Skip to content</a>

    <!-- Code that all your templates share, like the site banner -->
    {{ block "header" . }}
      {{ partial "site__header" . .Section }}
    {{ end }}

    <!-- The part of the page that begins to differ between templates -->
    <main id="content">
      {{ block "main" . }}{{ end }}
    </main>

    <!-- The site footer, cached as it doesn't change -->
    {{ block "footer" . }}
      {{ partialCached "site__footer" . .Params.footer_class .Params.cta_hidden }}
    {{ end }}

    <div class="contact-details" id="contact-details">
      <button data-toggle-class="active" data-toggle-fixed data-target="#contact-details" data-toggle-reset-scroll aria-controls="contact-details" class="absolute top-10 right-10 text-buff">
        <svg class="w-8 h-8" viewbox="0 0 36 36" role="presentation">
          <use xlink:href="#icon-close"/>
        </svg>
      </button>
      {{ partialCached "contact" (dict 
        "is_page" false
      ) }}) }}
    </div>

    <!-- Majic lock -->
    {{ if .IsHome }}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ end }}

    <!-- SEO Shiz! -->
    {{ $m := dict
      "@context" "https://schema.org"
      "@type" "Article"
      "mainEntityOfPage" (dict
        "@type" "WebPage"
        "@id" .Permalink
      )
      "headline" .Title
      "image" .Params.cover_img
      "author" (dict
        "@type" "Organization"
        "name" (site.Title | safeHTML)
        "url" site.BaseURL
      )
      "publisher" (dict
        "@type" "Organization"
        "name" "Name"
        "logo" (dict
          "@type" "ImageObject"
          "url" (print site.BaseURL "/img/logo.png")
        )
      )
      "datePublished" .Params.date
      "dateModified" .Params.lastmod
    }}

    <script type="application/ld+json">
      {{ jsonify (dict "indent" "  ") $m | safeJS }}
    </script>

    <!-- Analytics -->
    {{ if not .Site.IsServer }}
      <script src="https://getinsights.io/js/insights.js"></script>
      <script>
        insights.init('N96lhlRPan5nwYhX');
        insights.trackPages();
      </script>
    {{ end }}
    
  </body>
</html>
{{ end }}