<!doctype html>
<html class="min-h-full" lang="{{ $.Site.Language.Lang }}">
  <!-- The <head> element. See https://github.com/joshbuchea/HEAD for what _could_ go here. -->
  {{ block "head" . }}
    {{ partial "head" . }}
  {{ end }}
  
  <body class="{{ if .Site.IsServer }}border-debug {{ end }}min-h-screen font-serif text-base leading-normal bg-buff text-indigo auto-rows-auto liga kern">

    <!-- The Bush Kangaroo -->
    <a href="#content" class="sr-only focus:not-sr-only">Skip to content</a>

    <!-- Code that all your templates share, like the site banner -->
    {{ block "header" . }}
      {{ partial "site__header" . .Section }}
    {{ end }}

    <!-- The part of the page that begins to differ between templates -->
    <main id="content">
      {{ block "main" . }}{{ end }}
    </main>

    <!-- The part of the page that begins to differ between templates -->
    {{ block "footer" . }}
      {{ partialCached "site__footer" . }}
    {{ end }}
    
    <!-- Creepy tracking junk -->
    {{ if .Site.GoogleAnalytics }}
      {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}

    <!-- SEO Shiz! -->
    {{ $m := dict
      "@context" "https://schema.org"
      "@type" "Article"
      "mainEntityOfPage" (dict
        "@type" "WebPage"
        "@id" .Permalink
      )
      "headline" .Title
      "image" .Params.cover_img
      "author" (dict
        "@type" "Organization"
        "name" (site.Params.SiteTitle | safeHTML)
        "url" site.BaseURL
      )
      "publisher" (dict
        "@type" "Organization"
        "name" "Name"
        "logo" (dict
          "@type" "ImageObject"
          "url" (print site.BaseURL "/img/logo.png")
        )
      )
      "datePublished" .Params.date
      "dateModified" .Params.lastmod
    }}

    <script type="application/ld+json">
      {{ jsonify (dict "indent" "  ") $m | safeJS }}
    </script>

  </body>
</html>
