{{ define "main" }}
<article class="pb-10{{ if isset .Params " page_class"}} {{ .params.page_class }}{{ end }}">

  {{ partial "header__page" . }}
  
  <div class="container grid grid-cols-12 gap-10">
    <div class="col-span-full lg:col-span-8">
      <div class="font-sans font-light prose prose-page first:mt-10">
        {{- .Content -}}
      </div>
    </div>

    {{ with .Params.related_posts }}
      <div class="container section">
        <h2 class="h--condensed">Related posts</h2>
        {{ partial "related-posts.html" . }}
      </div>
    {{ end }}
  </div>

</article>
{{ end }}
