{{ define "header" }}
 <header class="w-full bg-buff">
  <div class="container flex justify-between gap-5 py-5 lg:gap-10 items-center">
    {{ partial "logo" . }}
    <div class="flex flex-wrap items-center justify-between gap-5 lg:gap-10">
      <div class="items-center gap-5 xl:gap-10 inline-flex">
        <svg class="w-8 h-10 lg:w-16 lg:h-20" role="presentation">
          <use xlink:href="#icon-bcorp"/>
        </svg>
        <svg class="w-10 h-6 lg:w-24 lg:h-14" role="presentation">
          <use xlink:href="#icon-1fortheplanet"/>
        </svg>
      </div>
    </div>
  </div>
</header>
{{ end }}

{{ define "main" }}
<article class="pb-10{{ with .Params.page_class }} {{ . }}{{ end }}">
  {{ partial "header__page" . }}
  {{ partial "newsletter" (dict 
    "url" .Permalink
    "style" "wide"
    "block_class" "container"
    "heading_class" "h3"
    "text_class" "text-sm"
    "image_class" "max-w-[75%]"
  ) }}
  </article>
{{ end }}