{{ define "header" }}
 <header class="w-full bg-buff">
  <div class="container flex justify-between gap-5 py-5 lg:gap-10 items-center">
    {{ partial "logo" . }}
    <div class="flex flex-wrap items-center justify-between gap-5 lg:gap-10">
      <div class="items-center gap-5 xl:gap-10 inline-flex">
        <svg class="w-8 h-10 lg:w-16 lg:h-20" role="presentation">
          <use xlink:href="#icon-bcorp"/>
        </svg>
        <svg class="w-10 h-6 lg:w-24 lg:h-14" role="presentation">
          <use xlink:href="#icon-1fortheplanet"/>
        </svg>
      </div>
    </div>
  </div>
</header>
{{ end }}

{{ define "main" }}
<article class="pb-10{{ with .Params.page_class }} {{ . }}{{ end }}">
  {{ partial "header__page" . }}
  <div class="container grid grid-cols-12 gap-10">
    <div class="col-span-full lg:col-span-8">
      <div class="font-sans font-light prose prose-page first:mt-10">
        {{- .Content -}}
      </div>
    </div>
  </div>
  </article>
{{ end }}