{{ define "main" }}
	<article class="pb-10{{ with .Params.page_class }} {{ . }}{{ end }}">
		{{ partial "header__impact" . }}
		<div class="container">
			<div class="first:mt-10">
{{/* 
        <section class="grid gap-10 md:grid-cols-2 section--lg">
          {{ partial "image" (dict 
            "alt" "Mat and Michelle, standing by the bureaux and smiling."
            "class" "md:order-1"
            "src" "/images/mat-and-michelle.jpg" 
          ) }}
          <div>
            <h2 class="mb-5 text-xl">We’re climate positive</h2>
            <p>Being certified as Climate Positive means an organisation has gone beyond achieving “Net Zero” and instead creates an environmental benefit by removing additional greenhouse gases from the atmosphere, not just those that it emits.</p>
            <p>Kind is a climate positive business and have taken the step to balance twice our greenhouse gas emissions since 2014 (when we were founded).</p>
            <button class="mt-5" data-toggle data-target="#climate-positive">
              <div class="flex items-center gap-2.5 font-sans">
                <div class="flex items-center justify-center rounded-full bg-indigo text-buff w-14 h-14">
                  <svg class="w-8 h-8" role="presentation">
                    <use xlink:href="#icon-arrow-down"/>
                  </svg>
                </div>
                <p>Read more
                <span class="sr-only">about We're climate positive</span>
                </p>
              </div>
            </button>
            <div id="climate-positive" class="mt-10">
              <p>Lorem ipsum dolor sit amet, id eum justo fierent platonem, tantas iriure interpretaris nec in. Sensibus convenire splendide eu nec, posse summo euismod te qui.</p>
            </div>
          </div>
        </section> 
*/}}
        <section class="grid gap-10 lg:gap-20 md:grid-cols-2 section--lg">
          {{ partial "image" (dict 
            "alt" "Mat and Michelle, standing by the bureaux and smiling."
            "class" ""
            "src" "/images/mat-and-michelle.jpg" 
          ) }}
          <div>
            <div class="prose lede">
              <h2 class="mb-5 text-xl">Certified B Corporation</h2>
              <p><a href="/blog/kind-certifies-a-b-corporation">Kind certified as a B Corporation in 2022</a> - joining over 5,000 organisations who are transforming the global economy to benefit all people, communities and the planet. Organisations like The Guardian, innocent, Patagonia, and Abel & Cole.</p>
            </div>  
            <button class="mt-5" data-toggle data-target="#bcorp">
              <div class="flex items-center gap-2.5 font-sans">
                <div class="flex items-center justify-center rounded-full bg-indigo text-buff w-14 h-14">
                  <svg class="w-8 h-8" role="presentation">
                    <use xlink:href="#icon-arrow-down"/>
                  </svg>
                </div>
                <p>Read more
                  <span class="sr-only">about Certified B Corporation</span>
                </p>
              </div>
            </button>
            <div id="bcorp" class="mt-10 prose lede">
            <p>B Corporation certification legally requires us to:</p>
            <ul>
              <li>create a material positive impact on society and the environment through our business operation</li>
              <li>consider all stakeholders (not just shareholders) when making business decisions. These stakeholders include our team, our suppliers, the environment and society as a whole.</li>
            </ul>
            <p>To certify, B Corporations are required to go through a “B Impact Assessment” and gain a score of over 80 points, verified by B Lab analysts.
	          <a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/kind" target="_blank" rel="noreferrer noopener">Kind scored 93.6</a>.</p>
            <p>Additionally, B Lab found that Kind has an Impact Business Model due to our support for purpose-driven enterprises. A company with an Impact Business Model is intentionally designed to create a specific positive outcome for one its stakeholders.</p>
            <h3>What else can we do?</h3>
            <p>B Impact Assessments happen every 3 years, and we’re in the process of making improvements to our business that will hopefully increase our score and, more importantly, increase our positive impact.</p>
            </div>
          </div>
        </section>
        <section class="grid gap-10 lg:gap-20 md:grid-cols-2 section--lg">
          {{ partial "image" (dict 
            "alt" "Mat and Michelle, standing by the bureaux and smiling."
            "class" "md:order-1"
            "src" "/images/mat-and-michelle.jpg" 
          ) }}
          <div>
            <div class="prose lede">
              <h2 class="mb-5 text-xl">Our charity partnerships</h2>
              <p>Kind have been <a href="https://directories.onepercentfortheplanet.org/profile/kind">members of 1% for the Planet since 2017</a> which requires us to donate a minimum of 1% of our turnover to environmental causes.</p>
              <p>In 2019 we selected Rewilding Britain as our environmental charity partner and pledged the majority of our 1% donations to their cause.</p>
            </div>
            <button class="mt-5" data-toggle data-target="#charity-partnerships">
              <div class="flex items-center gap-2.5 font-sans">
                <div class="flex items-center justify-center rounded-full bg-indigo text-buff w-14 h-14">
                  <svg class="w-8 h-8" role="presentation">
                    <use xlink:href="#icon-arrow-down"/>
                  </svg>
                </div>
                <p>Read more
                  <span class="sr-only">about Our charity partnerships</span>
                </p>
              </div>
            </button>
            <div id="charity-partnerships" class="mt-10">
              <div class="prose lede">
                <p>We've also been members of the
                  <a href="https://sas.org.uk/take-action/partnerships/the-ocean-network/" target="_blank" rel="noreferrer noopener">Surfers Against Sewage Ocean Network</a>
                  since 2018, supporting their work to end sewage and plastic pollution in our oceans.</p>
                <p>Over the last three financial years, we have donated 28% of our profits and 136 hours of our times to charitable causes. That equates to a donated value of more than £15,000.</p>
                <p>Since 2014, our donated value is more than £23,000.</p>
              </div>
              <div class="flex flex-wrap gap-5 mt-10 lg:gap-10">
                
                {{ with .Params.extra_stats }}
                  {{ partial "related-stats.html" . }}
                {{ end }}
                
              </div>
            </div>
          </div>
        </section>
        <section>
          <h2 class="h--condensed">The impact of our activity</h2>
          <ul class="mt-5 list-none">
            {{ range where site.RegularPages "Section" "impacts" }}
              <li>
                <article class="py-10 font-sans prose border-b">
                  <button class="flex flex-wrap items-center justify-between w-full gap-5" data-toggle data-target="#{{ .Title | anchorize }}_body">
                    <h3>{{ .Title }}</h3>
                    <div class="absolute sr-only right-24">Show hidden content</div>
                    <div class="flex items-center justify-center bg-white rounded-full w-14 h-14">
                      <svg class="w-8 h-8" role="presentation">
                        <use xlink:href="#icon-arrow-down"/>
                      </svg>
                    </div>
                  </button>
                  <div id="{{ .Title | anchorize }}_body" class="mt-10 prose text-md">
                    {{ .Content }}
                  </div>
                </article>
              </li>
            {{ end }}
          </ul>
        </section>
			</div>
		</div>
	</article>
{{ end }}
