{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<section>
  {{ partial "header__about.html" . }}
  <section class="flex flex-col justify-center min-h-screen section--lg bg-indigo text-buff">
    <div class="container grid content-center gap-10 xl:grid-cols-3">
      <div class="grid gap-10 xl:col-span-2">
        <h2 class="h1">We do give a damn</h2>
        <div class="max-w-5xl prose lede cta_prose">
          <p>We’re genuine, caring human beings who’ve chosen to use our skills to make the world a bit better.</p>
          <p>We understand that we can’t save the world with a website. But we do believe that when we all pull together, there’s no limit to what we can achieve.</p>
        </div>
      </div>
      <div class="flex flex-wrap items-center gap-10 xl:gap-20 xl:justify-center">
        <svg class="w-24 h-32 xl:w-36 xl:h-48 flex-no-shrink" role="presentation">
          <use xlink:href="#icon-bcorp"/>
        </svg>
        <svg class="h-24 w-48 xl:h-32 xl:w-72 flex-no-shrink" role="presentation">
          <use xlink:href="#icon-1fortheplanet"/>
        </svg>
      </div>
      <div>
        <a class="btn bg-buff text-indigo hover:bg-pink hover:text-blue  focus:bg-pink focus:text-blue" href="/about/our-impact">
          Our impact
          <svg class="w-12 h-4 flex-no-shrink" role="presentation">
            <use xlink:href="#icon-arrow"/>
          </svg>
        </a>
      </div>
    </div>
  </section>
  <section class="bg-teal text-blue overflow-hidden">
    <div class="container grid gap-10 xl:grid-cols-2">
      <div class="grid gap-10 pt-10 lg:pt-20 xl:py-30">
        <h2 class="h1">Partnerships that deliver real impact</h2>
        <div class="max-w-5xl prose lede cta_prose">
          <p>Because we only do work we believe in, we bring a level of commitment you won’t find anywhere else – and that means great results for you.</p>
          <p>Our client base is 100% socially responsible and purpose-driven. By using our skills and insights, we empower and lift up these organisations. A force for good behind the scenes.</p>
        </div>
      </div>
        {{ with .Params.related_work }}
        <div class="bleed xl:ml-0">
          {{ range . }}
            {{ with site.GetPage . }}
              <a aria-labelledby="{{ .Title | anchorize }}" class="block group no-underline xl:flex xl:flex-col xl:h-full" href="{{ .Permalink }}">
                <div class="relative xl:flex-grow">
                  {{ if isset .Params "impact_img" }}
                    {{ partial "image__impact-project" . }}
                  {{ end }}
                  <div class="absolute z-10 text-buff bottom-10 left-10">
                    <article>
                      <h4 class="h1">149%</h4>
                      <p class="mt-5">Increase in donations<br>for Rewilding Britain</p>
                    </article>
                  </div>
                </div>
                <div class="bg-sky text-green py-5 px-10 flex justify-between items-center transition-all duration-500 ease-in-out group-hover:bg-green group-hover:text-sky">
                  <p>
                    Read the <span class="sr-only">{{ .Params.client }}</span> case study
                  </p>
                  <svg class="w-8 h-3 flex-no-shrink" role="presentation">
                    <use xlink:href="#icon-arrow"/>
                  </svg>
                </div>
              </a>
            {{ end }}
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="section relative">
    <div class="container grid gap-10">
      <h2 class="text-xl h--condensed">Our team of experts</h2>
      <ul class="grid gap-10 md:grid-cols-2 lg:grid-cols-3 lg:gap-20 xl:gap-32">
        {{ range sort $.Site.Data.authors "order" }}
        {{ $author_img := resources.GetMatch (printf "**%s" (.image)) }}
          <li id="toggle-{{ .name | anchorize }}">
            <article itemscope itemtype="http://schema.org/Person">
              <button type="button" data-toggle-class="active" data-toggle-fixed data-target="#team-{{ .name | anchorize }}" aria-controls="team-{{ .name | anchorize }}" data-toggle-set-scroll class="text-left">

                {{ $xl := $author_img.Fill "920x1360" }}
                {{ $lg := $xl.Resize "640x" }}
                {{ $md := $lg.Resize "480x" }}
                {{ $sm := $md.Resize "320x" }}

                <img  
                  alt="{{ .name }}" 
                  height="{{ $author_img.Height }}"
                  loading=lazy
                  sizes="
                    (min-width: 90em) 920w,
                    (min-width: 62em) 640w,
                    (min-width: 48em) 480w,
                    100vw" 
                  src="{{ $sm.RelPermalink }}" 
                  srcset="
                    {{ $sm.RelPermalink }} 320w,
                    {{ $md.RelPermalink }} 480w,
                    {{ $lg.RelPermalink }} 680w,
                    {{ $xl.RelPermalink }} 920w
                  " 
                  width="{{ $author_img.Width }}"
                />
                <div class="flex items-center justify-between gap-5 mt-5">
                  <h3 class="font-serif font-bold normal-case" itemprop="author">{{ .name }}</h3>
                  <svg class="self-end w-12 h-6 flex-no-shrink" role="presentation">
                    <use xlink:href="#icon-arrow"/>
                  </svg>
                </div>

                <p class="mt-2 my-5 h--condensed">{{ .role }}</p>
              </button>

              <div class="team-member bg-indigo text-buff z-20 w-screen min-h-screen flex flex-col lg:gap-10 lg:flex-row lg:items-center opacity-50 " id="team-{{ .name | anchorize }}">

                <button type="button" class="absolute top-5 right-5 lg:top-10 lg:right-10" data-toggle-class="active" data-toggle-fixed data-target="#team-{{ .name | anchorize }}" data-toggle-reset-scroll aria-controls="#team-{{ .name | anchorize }}">
                  <svg class="self-end w-16 h-8 lg:w-24 lg:h-12 flex-no-shrink rotate-180 text-yellow" role="presentation">
                    <use xlink:href="#icon-arrow"/>
                  </svg>
                </button>

                <div class="w-full lg:w-5/12 grow-0 h-[50vh] lg:h-auto">

                  <img  
                    alt="{{ .name }}" 
                    height="{{ $author_img.Height }}"
                    loading=lazy
                    sizes="
                      (min-width: 90em) 920w,
                      (min-width: 62em) 640w,
                      (min-width: 48em) 480w,
                      100vw" 
                    src="{{ $sm.RelPermalink }}" 
                    srcset="
                      {{ $sm.RelPermalink }} 320w,
                      {{ $md.RelPermalink }} 480w,
                      {{ $lg.RelPermalink }} 680w,
                      {{ $xl.RelPermalink }} 920w
                    " 
                    width="{{ $author_img.Width }}"
                    class="object-cover w-full h-full"
                  />
                </div>

                <div class="w-full lg:w-7/12 grow-0 grid grid-cols-1 gap-10 p-5 h-[50vh] lg:h-auto lg:max-h-screen overflow-auto">
                  <div>
                    <h3 class="text-lg font-serif font-bold normal-case">{{ .name }}</h3>
                    <p class="mt-2 my-5 h--condensed text-md">{{ .role }}</p>
                  </div>
                  <nav class="font-sans text-base font-bold">
                    {{ with .email }}<a href="mailto:{{ . }}">{{ . }}</a>{{ end }}
                    {{ with .social.linkedin }} / <a href="https://linkedin.com/in/{{ . }}">Linkedin</a>{{ end }}
                    {{ with .social.instagram }} / <a href="https://instagram.com/{{ . }}">Instagram</a>{{ end }}
                    {{ with .social.facebook }} / <a href="https://facebook.com/{{ . }}">Facebook</a>{{ end }}
                    {{ with .social.github }} / <a href="https://github.com/{{ . }}">Github</a>{{ end }}
                    {{ with .social.twitter }} / <a href="https://twitter.com/{{ . }}">Twitter</a>{{ end }}
                    {{ with .social.threads }} / <a href="https://threads.net/{{ . }}">Threads</a>{{ end }}
                  </nav>
                  
                  {{ with .related_posts }}
                  <div class="xl:pt-12">
                    <h4 class="mb-2">Insights</h4>
                    <ul class="list-none">
                    {{ range . }}
                      {{ with site.GetPage . }}
                      <li class="mb-2 font-sans">
                        <a aria-labelledby="{{ .Title | anchorize }}" href="{{ .Permalink }}">{{ .Title }}</a>
                      </li>
                      {{ end }}
                    {{ end }}
                    </ul>
                  </div>
                  {{ end }}
                  
                  {{ with .cares }}
                  <div class="xl:pt-12">
                    <h4 class="mb-2">What I care about</h4>
                    <p class="font-sans">
                    {{ range . }}
                      {{ . }}<span class="last:hidden">, </span>
                    {{ end }}
                    </p>
                  </div>
                  {{ end }}

                </div>

              </div>
  
            </article>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>
</section>
{{ end }}
