{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article>
  {{ partial "header__about.html" . }}
  <section class="flex flex-col justify-center min-h-dynamic-screen section--lg bg-indigo text-buff">
    <div class="container grid content-center gap-10 xl:grid-cols-3">
      <div class="grid gap-10 xl:col-span-2">
        <h2 class="h1">We do give a damn</h2>
        <div class="max-w-5xl prose lede cta_prose">
          <p>We’re genuine, caring human beings who’ve chosen to use our skills to make the world a bit better.</p>
          <p>We understand that we can’t save the world with a website. But we do believe that when we all pull together, there’s no limit to what we can achieve.</p>
        </div>
      </div>
      <div class="flex flex-wrap items-center gap-10 xl:gap-20 xl:justify-center">
        <svg class="w-24 h-32 xl:w-36 xl:h-48 flex-no-shrink" role="presentation">
          <use xlink:href="#icon-bcorp"/>
        </svg>
        <svg class="w-48 h-24 xl:h-32 xl:w-72 flex-no-shrink" role="presentation">
          <use xlink:href="#icon-1fortheplanet"/>
        </svg>
      </div>
      <div>
        <a class="btn bg-buff text-indigo hover:bg-pink hover:text-blue focus:bg-pink focus:text-blue" href="/about/our-impact">
          Our impact
          <svg class="w-12 h-4 flex-no-shrink" role="presentation">
            <use xlink:href="#icon-arrow"/>
          </svg>
        </a>
      </div>
    </div>
  </section>
  <section class="overflow-hidden bg-teal text-blue">
    <div class="container grid grid-cols-2 gap-10">
      <div class="grid gap-10 pt-10 xl:col-span-1 col-span-full lg:pt-20 xl:py-30">
        <h2 class="h1">Partnerships that deliver real impact</h2>
        <div class="max-w-5xl prose lede cta_prose">
          <p>Our client base is 100% socially responsible and purpose-driven. By using our skills and insights, we empower and lift up these organisations. A force for good behind the scenes.</p>
        </div>
      </div>
      {{ with .Params.related_work }}
        <div class="xl:col-span-1 col-span-full bleed xl:ml-0">
          {{ range . }}
            {{ with site.GetPage . }}
              <a class="block no-underline group xl:flex xl:flex-col xl:h-full" href="{{ .Permalink }}">
                <div class="relative xl:flex-grow">
                  {{ if isset .Params "impact_img" }}
                    {{ partial "image__impact-project" . }}
                  {{ end }}
                  <div class="absolute z-10 text-buff bottom-10 left-10">
                    <article>
                      <h3 class="h1">149<span class="text-3xl lg:text-4xl">%</span></h3>
                      <p class="mt-5">Increase in donations<br>for Rewilding Britain</p>
                    </article>
                  </div>
                </div>
                <div class="flex items-center justify-between px-10 py-5 transition-all duration-500 ease-in-out bg-sky text-green group-hover:bg-green group-hover:text-sky">
                  <p>
                    Read the <span class="sr-only">{{ .Params.client }}</span> case study
                  </p>
                  <svg class="w-8 h-3 flex-no-shrink" role="presentation">
                    <use xlink:href="#icon-arrow"/>
                  </svg>
                </div>
              </a>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
  </section>
  <section class="relative section">
    <div class="container grid gap-10">
      <h2 class="text-xl h--condensed">Our team of experts</h2>
      <ul class="grid gap-10 md:grid-cols-2 lg:grid-cols-3 lg:gap-20 xl:gap-32">
        {{ range sort $.Site.Data.authors "weight" }}
        {{ $author_img := resources.GetMatch (printf "**%s" (.image)) }}
          <li id="toggle-{{ .name | anchorize }}">
            <article itemscope itemtype="http://schema.org/Person">
              <button type="button" data-toggle-class="active" data-toggle-fixed data-target="#team-{{ .name | anchorize }}" aria-controls="team-{{ .name | anchorize }}" data-toggle-set-scroll class="text-left">

                {{ $xl := $author_img.Fill "920x1360" }}
                {{ $lg := $xl.Resize "640x" }}
                {{ $md := $lg.Resize "480x" }}
                {{ $sm := $md.Resize "320x" }}

                <img  
                  alt="{{ .name }}" 
                  height="{{ $author_img.Height }}"
                  loading=lazy
                  sizes="
                    (min-width: 64em) 30vw,
                    (min-width: 48em) 48vw,
                    100vw" 
                  src="{{ $sm.RelPermalink }}" 
                  srcset="
                    {{ $sm.RelPermalink }} 320w,
                    {{ $md.RelPermalink }} 480w,
                    {{ $lg.RelPermalink }} 680w,
                    {{ $xl.RelPermalink }} 920w
                  " 
                  width="{{ $author_img.Width }}"
                >
                <span class="flex items-center justify-between gap-5 mt-5">
                  <span class="block font-serif font-bold normal-case h3" itemprop="author">{{ .name }}</span>
                  <svg class="self-end w-12 h-6 flex-no-shrink" role="presentation">
                    <use xlink:href="#icon-arrow"/>
                  </svg>
                </span>
                <span class="block my-5 mt-2 h--condensed">{{ .role }}</span>
              </button>
              <div class="z-20 flex flex-col w-screen min-h-dynamic-screen team-member bg-indigo text-buff lg:gap-10 lg:flex-row lg:items-center" id="team-{{ .name | anchorize }}">
                <button aria-label="Learn more about {{ .name }}" type="button" class="absolute top-5 right-5 lg:top-10 lg:right-10" data-toggle-class="active" data-toggle-fixed data-target="#team-{{ .name | anchorize }}" data-toggle-reset-scroll aria-controls="team-{{ .name | anchorize }}">
                  <svg class="self-end w-16 h-8 rotate-180 lg:w-24 lg:h-12 flex-no-shrink text-yellow" role="presentation">
                    <use xlink:href="#icon-arrow"/>
                  </svg>
                </button>
                <div class="w-full lg:w-5/12 grow-0 h-[50vh] lg:h-auto">
                  <img  
                    alt="{{ .name }}" 
                    height="{{ $author_img.Height }}"
                    loading=lazy
                    sizes="
                      (min-width: 64em) 42vw,
                      100vw" 
                    src="{{ $sm.RelPermalink }}" 
                    srcset="
                      {{ $sm.RelPermalink }} 320w,
                      {{ $md.RelPermalink }} 480w,
                      {{ $lg.RelPermalink }} 680w,
                      {{ $xl.RelPermalink }} 920w
                    " 
                    width="{{ $author_img.Width }}"
                    class="object-cover w-full h-full"
                  >
                </div>
                <div class="w-full lg:w-7/12 grow-0 grid grid-cols-1 gap-10 p-5 h-[50vh] lg:h-auto lg:max-h-screen overflow-auto">
                  <div>
                    <h3 class="font-serif text-lg font-bold normal-case">{{ .name }}</h3>
                    <p class="my-5 mt-2 h--condensed text-md">{{ .role }}</p>
                  </div>
                  <nav class="font-sans text-base font-bold" aria-label="Social links for {{ .name }}">
                    <ul class="flex flex-wrap overflow-hidden gap-x-5" role="list">
                      {{ with .email }}<li><a href="mailto:{{ . }}">{{ . }}</a></li>{{ end }}
                      {{ with .social.linkedin }}<li class="relative before:content-['/'] before:-left-3 before:absolute"><a href="https://linkedin.com/in/{{ . }}">Linkedin</a></li>{{ end }}
                      {{ with .social.instagram }}<li class="relative before:content-['/'] before:-left-3 before:absolute"><a href="https://instagram.com/{{ . }}">Instagram</a></li>{{ end }}
                      {{ with .social.facebook }}<li class="relative before:content-['/'] before:-left-3 before:absolute"><a href="https://facebook.com/{{ . }}">Facebook</a></li>{{ end }}
                      {{ with .social.github }}<li class="relative before:content-['/'] before:-left-3 before:absolute"><a href="https://github.com/{{ . }}">Github</a></li>{{ end }}
                      {{ with .social.twitter }}<li class="relative before:content-['/'] before:-left-3 before:absolute"><a href="https://twitter.com/{{ . }}">Twitter</a></li>{{ end }}
                      {{ with .social.threads }}<li class="relative before:content-['/'] before:-left-3 before:absolute"><a href="https://threads.net/{{ . }}">Threads</a></li>{{ end }}
                    </ul>
                  </nav>  
                  {{ with .related_posts }}
                    <div class="xl:pt-12">
                      <h4 class="mb-2">Insights</h4>
                      <ul class="list-none">
                      {{ range . }}
                        {{ with site.GetPage . }}
                        <li class="mb-2 font-sans">
                          <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </li>
                        {{ end }}
                      {{ end }}
                      </ul>
                    </div>
                  {{ end }}
                  
                  {{ with .cares }}
                    <div class="xl:pt-12">
                      <h4 class="mb-2">What I care about</h4>
                      <p class="font-sans">
                      {{ range . }}
                        {{ . }}<span class="last:hidden">, </span>
                      {{ end }}
                      </p>
                    </div>
                  {{ end }}
                </div>
              </div>
            </article>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>
</article>
{{ end }}
