{{ define "main" }}
<article>
  {{ partial "header__about.html" . }}


  {{/* STATS BLOCK */}}
  {{ with .Params.stat_block }}
  <section class="bg-teal text-blue relative lg:-top-4 xl:-top-12 lg:-mb-4 xl:-mb-12">
    <div class="container flex flex-col gap-5 py-8 lg:grid lg:grid-cols-12 lg:items-center lg:gap-6 xl:gap-16 lg:pb-16 lg:pt-32 lg:-mt-24 xl:-mt-48">

      {{ if isset . "img" }}
        <div class="col-span-full lg:col-span-4">
          {{ $src := ( .img ) }}
          {{ $alt := ( .alt ) }}
          {{ $src := replace $src "images" "https://madebykind.imgix.net" }}

          {{ with $src }}
            <picture>
              <img 
                alt="{{ $alt }}" 
                class="w-full h-full object-cover"
                loading="eager"
                sizes="(min-width: 100em) 33vw, 96vw"
                src="{{ (printf "%s?w=320&ar=4:3&fit=crop&crop=faces&auto=format" .) }}" 
                srcset="
              {{ (printf "%s?w=320&ar=4:3&fit=crop&crop=faces&auto=format" .) }} 320w,
              {{ (printf "%s?w=480&ar=4:3&fit=crop&crop=faces&auto=format" .) }} 480w,
              {{ (printf "%s?w=640&ar=4:3&fit=crop&crop=faces&auto=format" .) }} 640w,
              {{ (printf "%s?w=768&ar=4:5&fit=crop&crop=faces&auto=format" .) }} 768w,
              {{ (printf "%s?w=1280&ar=4:5&fit=crop&crop=faces&auto=format" .) }} 1280w"
              >
            </picture>
          {{ end }}
        </div>
      {{ end }}
      <div class="col-span-full lg:col-span-7 lg:col-start-6 flex flex-col gap-8 xl:gap-16 lg:pb-6">
        <div class="flex flex-col gap-2">
          {{ with .heading }}
            <h2 class="h--condensed text-md lg:text-lg mb-2">{{ . }}</h2>
          {{ end }}
          {{ with .description }}
            <p class="leading-tight text-sm md:text-base">{{ . }}</p>
          {{ end }}
        </div>
        {{ if ge ( .stats | len ) 1 }}
        <ul class="grid grid-cols-2 gap-2 sm:flex sm:gap-4">
          {{ range .stats }}
            {{ with site.GetPage .}}
              <li class="">
                <article>
                  <h4 class="h--condensed text-4xl">
                    {{ if .Params.prefix }}<span class="text-3xl">{{ .Params.prefix }}</span>{{ end }}{{ .Title }}{{ if .Params.suffix }}<span class="text-3xl">{{ .Params.suffix }}</span>{{ end }}
                  </h4>
                  <div class="mt-2 text-sm">{{ .Content|safeHTML }}</div>
                </article>
              </li>
            {{ end }}
          {{ end }}

        </ul>
        {{ end }}
        <div class="flex flex-col gap-8 xl:gap-16 sm:flex-row sm:justify-between">
          <div class="flex justify-center gap-8 xl:gap-16 items-center sm:justify-start">
            <svg class="w-16 h-20 lg:w-24 lg:h-30 2xl:w-30 2xl:h-36 flex-no-shrink" role="presentation">
              <use xlink:href="#icon-bcorp"/>
            </svg>
            <svg class="w-32 h-12 lg:w-48 lg:h-16 2xl:w-60 2xl:h-20 flex-no-shrink mb-2" role="presentation">
              <use xlink:href="#icon-1fortheplanet"/>
            </svg>
          </div>
          {{ with .cta }}
            <a class="btn bg-blue text-sky hover:bg-pink hover:text-indigo focus:bg-pink focus:text-indigo self-center sm:self-end" href="{{ .url }}">
              {{ .text }}
              <svg class="w-8 h-8 flex-no-shrink" role="presentation">
                <use xlink:href="#icon-arrow"/>
              </svg>
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}

  {{/* MANIFESTO */}}
  <section class="flex flex-col justify-center section--lg bg-indigo text-buff" id="manifesto">
    <div class="container grid grid-cols-4 gap-8 lg:grid-cols-12 lg:items-center lg:gap-y-16 xl:gap-y-24">
      <div class="flex flex-col gap-4 col-span-full lg:col-span-8 lg:order-1">
        <h3 class="text-teal h--condensed text-lg">Our manifesto</h3>
        <h2 class="text-4xl leading-heading h--condensed">Well-worn paths are never going to lead to a better world.</h2>
        <div class="prose mt-4">
          <p>That’s why we go our own way. We’re a small but powerful team of carefully selected senior professionals. People whose work packs a real punch.</p>
          <p>Our work delivers faster, bigger, more effective results for our clients’ causes – in the charity sector, sustainability, research, the environment, and the arts.</p>
        </div>
      </div>

      <figure class="col-span-3 md:col-span-2 col-start-2 lg:col-span-4 lg:order-2 lg:col-start-9 lg:pl-6 lg:max-w-xl">
        <blockquote class="p-0 border-0">
          <p class="text-teal text-base lg:text-md">&ldquo;Doing the right thing isn’t easy, but when we started Kind, we decided it was the only way we wanted to do business.&rdquo;</p>    
        </blockquote>
        <figcaption class="mt-5 font-serif text-sm leading-tight flex flex-wrap gap-2 items-center">
          {{ $author := .Site.Data.authors.mat }}
          {{ $src := printf "https://madebykind.imgix.net/%s" $author.headshot }}

          {{ with $src }}

            <img
              alt="{{ $author.name }}"
              class="inline-block object-cover object-center w-12 h-12 rounded-full"
              height="180"
              loading=lazy
              sizes="(min-width: 62em) 180px, 120px"
              src="{{ (printf "%s?w=180&ar=1:1&fit=crop&auto=format" .) }}"
              srcset="
              {{ (printf "%s?w=120&ar=1:1&fit=crop&auto=format" .) }} 120w,
              {{ (printf "%s?w=180&ar=1:1&fit=crop&auto=format" .) }} 180w,"
              width="180"
            >
          {{ end }}
          <div>
            <div itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span class="font-bold" itemprop="name">{{ $author.name }}</span>
            </div>
            <div itemprop="jobTitle">{{ $author.role }}</div>
          </div>
        </figcaption>
      </figure>

      <div class="flex flex-col gap-4 col-span-full lg:col-span-8 lg:order-4">
        <h2 class="text-4xl leading-heading h--condensed">Let’s be clear—we’re not for everyone</h2>
        <div class="prose mt-4">
          <p>All our clients must have a mission that comes before profit. Using our skills and insights, we empower and lift up these organisations, acting as a force for good behind the scenes.</p>
          <p>We understand that we can’t save the world with a brand, a strategy or a website. But we do believe that when we all pull together, there’s no limit to what we can achieve.</p>
        </div>
      </div>


      <figure class="col-span-3 md:col-span-2 col-start-2 lg:col-span-4 lg:order-2 lg:col-start-1 lg:pr-6 lg:max-w-xl">
        <blockquote class="p-0 border-0">
          <p class="text-teal text-base lg:text-md">&ldquo;Seven years ago, I chose to join a creative agency that put ‘doing good’ at the heart of everything it set out to do.&rdquo;</p>    
        </blockquote>
        <figcaption class="mt-5 font-serif text-sm leading-tight flex flex-wrap gap-2 items-center">
          {{ $author := .Site.Data.authors.michelle }}
          {{ $src := printf "https://madebykind.imgix.net/%s" $author.headshot }}

          {{ with $src }}

            <img
              alt="{{ $author.name }}"
              class="inline-block object-cover object-center w-12 h-12 rounded-full"
              height="180"
              loading=lazy
              sizes="(min-width: 62em) 180px, 120px"
              src="{{ (printf "%s?w=180&ar=1:1&fit=crop&auto=format" .) }}"
              srcset="
              {{ (printf "%s?w=120&ar=1:1&fit=crop&auto=format" .) }} 120w,
              {{ (printf "%s?w=180&ar=1:1&fit=crop&auto=format" .) }} 180w,"
              width="180"
            >
          {{ end }}
          <div>
            <div itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span class="font-bold" itemprop="name">{{ $author.name }}</span>
            </div>
            <div itemprop="jobTitle">{{ $author.role }}</div>
          </div>
        </figcaption>
      </figure>


    </div>
  </section>

  {{/* TEAM */}}
  <section class="relative section--lg container lg:grid lg:grid-cols-12 lg:gap-8" id="team">
    <div class="flex flex-col gap-4 mb-8 lg:mb-0 lg:col-span-5">
      <h2 class="h--condensed text-2xl">A small team with bags of experience</h2>
      <p>Small allows us to be selective about who we work with, to be flexible and adaptable to our clients' and their cause, and to form long-lasting relationships built on strategy, creativity and positive impact.</p>
    </div>
    <div class="overflow-auto bleed-right lg:bleed-none lg:col-span-full">
      <ul class="flex gap-2 w-auto md:gap-8 lg:grid lg:grid-cols-12">
        {{ range $index, $element := (sort $.Site.Data.authors "weight") }}
          {{ if ne $element.unlisted true }}
          <li class="w-[75vw] md:w-3/5 shrink-0 lg:w-auto lg:col-span-3
          {{ if eq $index 0 }} lg:mt-12 {{ end }}
          {{ if eq $index 1 }} lg:col-start-5 lg:mt-24 {{ end }}
          {{ if eq $index 2 }} lg:col-start-9 {{ end }}">
            <article class="flex flex-col gap-6" itemscope itemtype="http://schema.org/Person">
              <img  
                alt="{{ $element.name }}" 
                loading=lazy
                sizes="
                  (min-width: 64em) 30vw,
                  (min-width: 48em) 48vw,
                  100vw" 
                src="{{ (printf "https://madebykind.imgix.net/%s?w=320&auto=format" $element.image) }}" 
                srcset="
                  {{ (printf "https://madebykind.imgix.net/%s?w=320&ar=2:3&fit=crop&crop=faces&auto=format" $element.image) }} 320w,
                  {{ (printf "https://madebykind.imgix.net/%s?w=480&ar=2:3&fit=crop&crop=faces&auto=format" $element.image) }} 480w,
                  {{ (printf "https://madebykind.imgix.net/%s?w=680&ar=2:3&fit=crop&crop=faces&auto=format" $element.image) }} 680w,
                  {{ (printf "https://madebykind.imgix.net/%s?w=920&ar=2:3&fit=crop&crop=faces&auto=format" $element.image) }} 920w"
                height="1091"
                width="726"
              >
              <div class="flex flex-col gap-6 pr-4 max-w-md">
                <div class="flex flex-col gap-1">
                  <h3 class="block font-serif font-bold" itemprop="author">{{ $element.name }}</h3>
                  <p class="font-sans text-sm font-bold">{{ $element.role }}</p>
                </div>
                <p class="text-sm leading-tight">{{ $element.bio }}</p>
                <div class="flex flex-col gap-1">
                  <h4 class="font-sans text-sm">What I care about</h4>
                  <p class="font-sans text-sm">{{ delimit $element.cares `, ` }}</p>
                </div>
                <nav class="font-sans text-sm" aria-label="Social links for {{ .name }}">
                  <ul class="list-none">
                    {{ with $element.email }}
                      <li class="flex gap-1 items-center">
                        <svg class="w-4 h-4 mt-px" role="presentation">
                          <use xlink:href="#icon-email"/>
                        </svg>
                        <a href="mailto:{{ . }}" class="a--underline">{{ . }}</a>
                      </li>
                    {{ end }}
                    {{ with $element.social.linkedin }}
                      <li class="flex gap-1 items-center">
                        <svg class="w-3 h-3 mb-0.5" role="presentation">
                          <use xlink:href="#icon-linkedin"/>
                        </svg>
                        <a href="https://www.linkedin.com/in/{{ . }}" class="a--underline">Connect on Linkedin</a>
                      </li>
                      {{ end }}
                    {{ with $element.social.instagram }}
                      <li class="flex gap-1 items-center">
                        <svg class="w-3 h-3" role="presentation">
                          <use xlink:href="#icon-instagram"/>
                        </svg>
                        <a href="https://www.instagram.com/{{ . }}/" class="a--underline">Follow on Instagram</a>
                      </li>
                      {{ end }}
                    {{ with $element.social.bluesky }}
                      <li class="flex gap-1 items-center">
                        <svg class="w-4 h-4" role="presentation">
                          <use xlink:href="#icon-bluesky"/>
                        </svg>
                        <a href="https://bsky.app/profile/{{ . }}" class="a--underline">Follow on Bluesky</a>
                      </li>
                      {{ end }}
                  </ul>
                </nav>
              </div>
            </article>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </section>

  {{/* CLIENTS */}}
  {{ with .Params.clients }}
  <section class="bg-teal text-indigo section--lg">
    <div class="container grid grid-cols-1 lg:grid-cols-12 gap-4 lg:gap-16">
      <div class="flex flex-col gap-4 mb-8 lg:mb-0 lg:col-span-5 lg:order-1">
        <h2 class="h--condensed text-2xl">Doing good behind the scenes</h2>
        <p>We work for social, environmental and cultural charities and non-profits who create positive impacts for people and&nbsp;planet.</p>
      </div>
      <h3 class="sr-only">Our charity and non-profit clients</h3>
      <ul class="flex flex-wrap justify-between gap-y-8 mb-8 md:gap-y-16 -mx-4 md:-mx-8 lg:order-3 lg:col-span-full">
        {{ range .items }}
        <li class="w-1/4 md:w-1/6 lg:w-1/8 px-4 md:px-8">
          <div class="w-full h-full max-w-20 max-h-8 md:max-w-36 md:max-h-12 ">
          <svg class="w-full h-full" role="presentation">
            <use xlink:href="#icon-{{ .icon }}"/>
          </svg>
          <span class="sr-only">{{ .name }}</span>
        </li>
        {{ end }}
      </ul>
      {{ with .cta }}
        <div class="col-span-full flex justify-center lg:col-span-6 lg:col-start-7 lg:order-2 lg:self-end lg:justify-start">
          <a class="btn btn--secondary " href="{{ .url }}">
            {{ .text }}
            <svg class="w-8 h-8 flex-no-shrink" role="presentation">
              <use xlink:href="#icon-arrow"/>
            </svg>
          </a>
        </div>
      {{ end }}
    </div>
  </section>
  {{ end }}



</article>
{{ end }}
