<div class="grid w-full h-full bg-[#fff964] overflow-hidden"
    data-image-slider
    data-class-on-view="is-in-view">
    <div class="col-start-1 row-start-1 flex items-center justify-center">
      {{ partial "image" (dict 
        "alt" ""
        "class" ""
        "src" "images/work_papyrus_icons_1.png"
      ) }}
    </div>
    <div class="col-start-1 row-start-1 flex items-center justify-center">
      {{ partial "image" (dict 
        "alt" ""
        "class" ""
        "src" "images/work_papyrus_icons_2.png"
      ) }}
    </div>
    <div class="col-start-1 row-start-1 flex items-center justify-center">
      {{ partial "image" (dict 
        "alt" ""
        "class" ""
        "src" "images/work_papyrus_icons_3.png"
      ) }}
    </div>
    <div class="col-start-1 row-start-1 flex items-center justify-center">
      {{ partial "image" (dict 
        "alt" ""
        "class" ""
        "src" "images/work_papyrus_icons_4.png"
      ) }}
    </div>
    <div class="col-start-1 row-start-1 flex items-center justify-center">
      {{ partial "image" (dict 
        "alt" ""
        "class" ""
        "src" "images/work_papyrus_icons_5.png"
      ) }}
    </div>
</div>