

{{ $author := index .Site.Data.authors .Params.author }}
{{ $author_img := resources.GetMatch (printf "**%s" ($author.headshot)) }}

<article class="flex items-center gap-5" itemscope itemtype="http://schema.org/Person">
  {{ with $author_img }}
    {{ $lg := $author_img.Fill "240x240 jpg" }}
    {{ $md := $lg.Resize "180x" }}
    {{ $sm := $md.Resize "120x" }}

    <img 
      alt="{{ $author.name }}" 
      class="w-16 rounded-full md:w-24" 
      height="{{ .Height }}" 
      loading="lazy" 
      sizes="(min-width: 90em) 240px,(min-width: 62em) 180px,120px"
      src="{{ $sm.RelPermalink }}" 
      srcset="{{ $sm.RelPermalink }} 120w,{{ $md.RelPermalink }} 180w,{{ $lg.RelPermalink }} 240w" 
      width="{{ .Width }}"
    >
  {{ end }}
  <div>
    <h2 class="font-serif text-base font-bold normal-case" itemprop="author">{{ $author.name }}</h2>
    <p>{{ $author.role }}</p>
  </div>
</article>
