

{{ $author := index .Site.Data.authors .Params.author }}
{{ $author_img := printf "https://madebykind.imgix.net/%s" ($author.headshot)}}

<article class="flex items-center gap-5" itemscope itemtype="http://schema.org/Person">
  {{ with $author_img }}

    <img 
      alt="{{ $author.name }}" 
      class="w-16 rounded-full md:w-24" 
      height="120" 
      loading="lazy" 
      sizes="(min-width: 90em) 240px,(min-width: 62em) 180px,120px"
      src="{{ (printf "%s?w=240&auto=compress,format" .) }}" 
      srcset="
        {{ (printf "%s?w=120&auto=compress,format" .) }} 120w,
        {{ (printf "%s?w=180&auto=compress,format" .) }} 180w,
        {{ (printf "%s?w=240&auto=compress,format" .) }} 240w" 
      width="120"
    >
  {{ end }}
  <div>
    <h2 class="mb-2 font-serif text-base font-bold normal-case" itemprop="author">{{ $author.name }}</h2>
    <p>{{ $author.role }}</p>
  </div>
</article>
