<article class="h-full">
  <a class="no-underline group" aria-labelledby="{{ .Params.Heading | anchorize }}" href="{{ .Permalink }}">
    <div class="relative overflow-hidden">
      {{ if isset .Params "cover_img" }}
        {{ partial "image__card" . }}
      {{ end }}

      {{ with .Params.icon }}
        <div class="absolute bottom-0 right-0 p-5 bg-white text-black">
          <svg class="w-24 h-12 flex-no-shrink" role="presentation">
            <use xlink:href="#icon-{{ . }}"/>
          </svg>
        </div>
      {{ end }}
    </div>

      <div class="grid content-center gap-8 py-5">
        <h3 class="h2 h--condensed transition-colors duration-300 ease-in-out group-hover:text-pink group-focus:text-pink" id="{{ .Params.Heading | anchorize }}">{{ .Params.Heading }}</h3>
        <h4 class="text-base font-normal transition-colors duration-300 ease-in-out group-hover:text-pink group-focus:text-pink">{{ title (delimit .Params.services " + " ) }}</h4>
      </div>
  </a>
</article>
