<article class="h-full">
  <a class="no-underline group" aria-labelledby="{{ .Title | anchorize }}" href="{{ .Permalink }}">
    <div class="relative aspect-4/3
      
      {{ if .Params.cover_img }}
        {{ .Params.text_colour }} after:bg-black after:block after:inset-0 after:absolute after:h-full after:w-full after:opacity-50 
      {{ else }}
        {{ with .Params.card_colour }}
          {{ . }}
        {{ end }}
      {{ end }}
    ">
      {{ if .Params.cover_img }}
        {{ partial "image__card" . }}
      {{ end }}
      <div class="absolute z-10 grid content-center gap-5 lg:gap-10 inset-5 lg:inset-10">
        {{ with .Params.key_topic }}
          <span class="text-sm underline">{{ title . }}</span>
        {{end}}
        <h2 class="h--condensed group-hover:underline" id="{{ .Title | anchorize }}">{{ .Title }}</h2>
      </div>
    </div>
    <div aria-hidden=true class="flex items-center gap-5 px-5 mt-5">
      <p class="text-sm font-bold">Read the article</p>
      <svg class="w-12 h-6" role="presentation">
        <use xlink:href="#icon-arrow"/>
      </svg>
    </div>
  </a>
</article>
