<article class="grid h-full gap-5">
  <a class="flex no-underline group" aria-labelledby="{{ .Title | urlize }}" href="{{ .Permalink }}">
    <div class="relative">
      {{ if isset .Params "cover_img" }}
        {{ partial "image__card" . }}
      {{ end }}
      <div class="grid content-center gap-5 py-5 lg:gap-10">
        <h2 class="group-hover:underline" id="{{ .Title | urlize }}">{{ .Title }}</h2>
        {{ with .Params.tags }}
          <ul class="flex gap-5 list-none lg:gap-10">
            {{ range . }}
              <li class="relative flex items-center after:absolute after:-right-7 after:content-['+']">
                <span class="underline">{{ . }}</span>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </a>
</article>
