<article class="h-full">
  <a class="no-underline group" aria-labelledby="{{ .Title | urlize }}" href="{{ .Permalink }}">
    <div class="relative">
      {{ if isset .Params "cover_img" }}
        {{ partial "image__card" . }}
      {{ end }}

      {{ with .Params.icon }}
        <div class="absolute bottom-0 right-0 p-5 bg-white">
          <svg class="w-24 h-12 flex-no-shrink" role="presentation">
            <use xlink:href="#icon-{{ . }}"/>
          </svg>
        </div>
      {{ end }}
    </div>

      <div class="grid content-center gap-8 py-5">
        <h2 class="h--condensed group-hover:underline" id="{{ .Title | urlize }}">{{ .Title }}</h2>
        {{ with .Params.services }}
          <ul class="flex gap-5 list-none lg:gap-10">
            {{ range . }}
              <li class="relative flex items-center after:absolute after:-right-4 lg:after:-right-7 after:content-['+'] last:after:content-none">
                {{ title . }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
  </a>
</article>
