{{ with site.GetPage "contact" }}
<article class="{{ with .Params.page_class }} {{ . }}{{ end }}">
  <header>
    <div class="container grid items-end content-end gap-10 section--lg">
      <div class="grid max-w-6xl gap-10">
        {{ if $.is_page }}
          <h1>{{ .Params.Heading }}</h1>
        {{ else }}
          <h2 class="h1">{{ .Params.Heading }}</h2>
        {{ end }}
        {{ if .Params.intro }}
          <div class="max-w-3xl prose cta_prose">
            {{ .Params.intro | markdownify }}
          </div>
        {{ end }}
      </div>
    </div>
  </header>

  <div class="container">
    <h2 class="sr-only">Contact details</h2>
    <nav aria-label="Kind contact links">
      <ul class="flex-wrap list-none text-lg lg:text-xl md:flex gap-x-10 lg:gap-x-20">
        <li class="relative inline-flex md:after:content-['/'] after:absolute after:-right-5 lg:after:-right-15">
          <span class="sr-only">Email: </span>
          <a href="mailto:hello@madebykind.com" rel="me" onclick="javascript:insights.track({id: 'contact-email',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});">hello@madebykind.com</a>
        </li>
        <li>
          <span class="sr-only">Telephone: </span>
          <a href="tel:+441157270990" onclick="javascript:insights.track({id: 'contact-telephone',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});">0115 727 0990</a>
        </li>
      </ul>
    </nav>
    <nav aria-label="{{ i18n "socialTitle" }}" class="mt-24 lg:mt-48">
      <ul class="flex flex-wrap items-center gap-10 list-none">

        {{ if isset .Site.Params "linkedin" }}
          <li>
            <a href="{{ .Site.Params.Linkedin }}" rel="me noopener" title="LinkedIn" class="text-buff hover:text-pink focus:text-pink transition duration-500 ease-in-out mb-1" onclick="javascript:insights.track({id: 'footer-social-linkedin',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});" target="_blank">
              <svg class="w-8 h-8" viewbox="0 0 36 36" role="presentation">
                <use xlink:href="#icon-linkedin"/>
              </svg>
            </a>
          </li>
        {{ end }}

        {{ if isset .Site.Params "instagram" }}
          <li>
            <a href="{{ .Site.Params.Instagram }}" rel="me noopener" title="Instagram" class="text-buff hover:text-pink focus:text-pink transition duration-500 ease-in-out" onclick="javascript:insights.track({id: 'footer-social-instagram',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});" target="_blank">
              <svg class="w-8 h-8" viewbox="0 0 36 36" role="presentation">
                <use xlink:href="#icon-instagram"/>
              </svg>
            </a>
          </li>
        {{ end }}

        {{ if isset .Site.Params "bluesky" }}
          <li class="mt-0.5">
            <a href="{{ .Site.Params.Bluesky }}" rel="me noopener" title="Bluesky" class="text-buff hover:text-pink focus:text-pink transition duration-500 ease-in-out" onclick="javascript:insights.track({id: 'footer-social-bluesky',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});" target="_blank">
              <svg class="w-8 h-8" viewbox="0 0 36 36" role="presentation">
                <use xlink:href="#icon-bluesky"/>
              </svg>
            </a>
          </li>
        {{ end }}

      </ul>
    </nav>
  </div>
</article>
{{ end }}