{{ if .Params.cta3Title }}
<section class="flex flex-col justify-center min-h-dynamic-screen snap-start section--lg">
  <div class="container grid gap-10 md:grid-cols-12">
    <div class="flex flex-col gap-10 col-span-full md:col-span-7 lg:gap-15">
      <h2 class="h1">{{ .Params.cta3Title }}</h2>
      {{ with .Params.cta3Copy }}
        <div class="max-w-5xl prose cta_prose">
          <p>{{ . | markdownify }}</p>
        </div>
      {{ end }}
      <div class="flex flex-wrap gap-5 lg:gap-10">
          <a class="btn btn--primary" href="{{ .Params.cta3Link }}" onclick="javascript:insights.track({id: 'home-cta-button-1',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});">
            {{ title .Params.cta3 }}
            <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
              <use xlink:href="#icon-arrow"/>
            </svg>
          </a>
        {{ if isset .Params "cta4" }}
          <a class="btn btn--secondary" href="{{ .Params.cta4Link }}" onclick="javascript:insights.track({id: 'home-cta-button-2',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});">
            {{ title .Params.cta4 }}
            <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
              <use xlink:href="#icon-arrow"/>
            </svg>
          </a>
        {{ end }}
      </div>
    </div>

    {{ if .Params.cta_img }}
      <div class="relative flex md:justify-center md:col-span-5 md:self-end col-span-full">

        {{ $src := (.Params.cta_img ) }}
        {{ $alt := ( .Params.cta_img_alt ) }}
        {{ $src := replace $src "images" "https://madebykind.imgix.net" }}

        {{ with $src }}
          <img 
            alt="{{ $alt }}" 
            class="object-cover h-full" 
            loading=lazy 
            sizes="(min-width: 100em) 32vw, 96vw" 
            src="{{ (printf "%s?w=320&auto=format" .) }}" 
            srcset="
          {{ (printf "%s?w=320&auto=format" .) }} 320w,
          {{ (printf "%s?w=480&auto=format" .) }} 480w,
          {{ (printf "%s?w=640&auto=format" .) }} 640w,
          {{ (printf "%s?w=960&auto=format" .) }} 960w,
          {{ (printf "%s?w=1280&auto=format" .) }} 1280w"
          width="320"
          >
        {{ end }}

      </div>
    {{ end }}
  </div>
</section>
{{ end }}