<section class="snap-start bg-indigo text-buff section--lg">
  <div class="container">
    <div class="flex flex-col gap-4 md:gap-12 mb-24 xl:mb-40">
      <h2 class="h--condensed text-4xl leading-heading max-w-5xl">Partnerships that deliver real impact</h2>
      <div class="flex flex-col items-start gap-4 md:gap-8 md:flex-row md:justify-start">
        <p class="lede max-w-5xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in ex tempor, porta nisi sit amet, bibendum tellus.</p>
        <a class="btn btn--teal shrink-0" href="/work" onclick="javascript:insights.track({id: 'home-our-work',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});">Our work
          <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
            <use xlink:href="#icon-arrow"/>
          </svg>
        </a>
      </div>
    </div>
    
    {{ $length := .Params.projects | len }}
    <ul class="list-none grid grid-cols-1 md:grid-cols-12 gap-8 lg:gap-y-40" role="list">
      {{ range $index, $p := .Params.projects }}
        {{ $odd := false }}
        {{ if not (modBool $index 2)}}
          {{ $odd = true }}
        {{ end }}

        {{ with site.GetPage $p }}
        <li class="col-span-full {{ if or (eq $index 0) (le $length 3) }} md:col-span-full {{ else }} md:col-span-4 {{ end }}">
          {{ if or (eq $index 0) (le $length 3) }}
            {{ partial "teaser__work" ( dict "context" . "odd" $odd "spotlight" (ge $length 4) ) }}
          {{ else }}
            {{ partial "card_work" . }}
          {{ end }}
        </li>
        {{ end }}

      {{ end }}
    </ul>
  </div>
</section>
