{{ if isset .Site.Params "features" }}
  {{ if .Site.Params.features.enable }}
		<section class="section">
			<h2>{{ i18n "featuresTitle" }}</h2>
			<p class="text-md">{{ i18n "featuresDescription" }}</p>
			<ul class="flex flex-wrap gap-10">
				{{ range (where site.RegularPages "Section" "in" .Site.Params.features.items ) }}
					<li class="max-w-sm">
						<article>
							<h3 id="{{ .Title | anchorize }}"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
							<p>{{ .Summary | markdownify }}</p>
							<a aria-labelledby="{{ .Title | anchorize }}" class="inline-flex items-center" href="{{ .Permalink }}">{{ i18n "readMore" }} &rarr;</a>
						</article>
					</li>
				{{ end }}
			</ul>
		</section>
  {{ end }}
{{ end }}
