<header class="snap-start{{ if .Params.cover_img }} overflow-hidden{{ end }}">
  <div data-hero-height="100vh" class="container grid gap-10 md:grid-cols-12{{ if not .Params.cover_img }} items-end{{ end }}">

      {{ if .Params.cover_img }}
        <div class="col-span-12 md:col-span-6 md:order-1 bleed md:ml-0">
          {{ partial "image__hero" . }}
        </div>
      {{ end }}
      <div class="grid items-end content-end col-span-12 gap-10 pb-10 section--lg{{ if .Params.cover_img }} md:col-span-6 {{ else }} md:col-span-7{{ end }}">
        <h1 class="break-words">{{ .Page.Title|safeHTML }}</h1>

        {{ if .Params.cover_img }}
          {{ if .Params.author }}
              {{ partial "author" . }}
          {{ end }}
        {{ else }}
          {{ if .Params.intro }}
            <div class="prose lede cta_prose">
              {{ .Params.intro | markdownify }}
            </div>
          {{ end }}
        {{ end }}
      </div>
      {{ if not .Params.cover_img }}
        <div class="self-end col-span-12 pb-10 md:col-span-4 md:col-start-9">
          {{ if .Params.author }}
            {{ partial "author" . }}
          {{ end }}
        </div>
      {{ end }}
    </div>
    <div class="container grid gap-10 md:grid-cols-12">
{{/*
  {{ if .Params.toc }}
    <div class="col-span-12">
      {{ .TableOfContents }}
    </div>
  {{ end }}
*/}}
      {{ if .Params.cover_img }}
        {{ if .Params.intro }}
        <div class="col-span-12{{ if .Params.cover_img }} md:col-span-6 {{ else }} md:col-span-7{{ end }}">
          <div class="prose lede cta_prose">
            {{ .Params.intro | markdownify }}
          </div>
        </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</header>
