<header class="{{ if isset .Params "block_class" }}{{ .Params.block_class }} {{ end }} section--lg {{ if .Params.large_hero }} hero--full flex items-center {{ end }}">
  <div class="container flex flex-col items-center gap-10 lg:grid lg:grid-cols-12">
    <div class="col-span-full gap-10 {{ if isset .Params "cover_img" }} lg:col-span-7 {{ else }} lg:col-span-8 {{ end }}">
      <div class="flex flex-col gap-15">
        <div class="flex flex-col gap-4">
          {{ if .Params.preHeading }}
          <h1 class="leading-heading h--condensed {{ if .Params.large_hero }} text-4xl lg:text-5xl 2xl:text-6xl {{ end }}">{{ .Params.Heading|safeHTML }}</h1>
          <h2 class="leading-heading text-orange text-lg">{{ .Params.Preheading|safeHTML }}</h2>
          {{ else }}
          <h1 class="order-2 {{ if .Params.large_hero }} text-4xl lg:text-5xl 2xl:text-6xl {{ end }}">{{ .Params.Heading|safeHTML }}</h1>
          {{ end }}
        </div>

        {{ if .Params.intro_md }}
          <div class="prose cta_prose text-md">
            {{ .Params.Intro | markdownify }}
          </div>
        {{ else }}
          <div class="prose cta_prose text-md">
            <p>{{ .Params.Intro }}</p>
          </div>
        {{ end }}
        {{ with .Params.toc }}
          <nav class="leading-none">
            <ol class="flex flex-wrap font-sans gap-5 lg:gap-x-8">
              {{ range . }}
                <li>
                  <a href="#{{ .id }}" class="inline-flex gap-2 items-center">
                      {{ .heading }}
                    <svg class="w-4 h-4 lg:w-5 lg:h-5" role="presentation">
                      <use xlink:href="#icon-arrow-down"/>
                    </svg>
                  </a>
                </li>
              {{ end }}
            </ol>
          </nav>
        {{ end }}
      </div>
    </div>
    {{ if isset .Params "cover_img" }}
      <div class="col-span-full lg:col-span-5 lg:col-start-8 max-h-illustration max-w-illustration justify-self-end">
        {{ partial "image__illustration" . }}
      </div>
    {{ end }}
  </div>
</header>
