<header class="{{ with .Params.cover_img }} flex flex-col justify-end min-h-screen pt-36 lg:pt-48 pb-12 relative{{ else }} border-ui border-t{{ end }}">
  {{ if isset .Params "cover_img" }}
    {{ partial "image__hero" . }}
  {{ end }}
  <div class="container relative {{ with .Params.reversed }}antialiased text-white{{ end }}">
    <h1>Posts tagged: 
      <span>#</span>{{ title .Page.Title | safeHTML }}
    </h1>

    {{ if isset .Params "description" }}
      <div class="max-w-4xl prose lede cta_prose lg:col-end-7">{{ .Description | markdownify }}</div>
    {{ end }}
  </div>
</header>
