<header{{with.Params.header_class}} class="{{.}}"{{end}}>
  <div class="container grid gap-10 md:grid-cols-12">
    {{ if .Params.cover_img }}
      <div class="col-span-12 md:col-span-6 md:order-1">
        {{ partial "image__hero" . }}
      </div>
    {{ end }}
    <div class="grid col-span-12 gap-10 pb-10 md:col-span-6 section--lg">
      <h1>{{ .Page.Title|safeHTML }}</h1>
      {{ if .Params.intro }}
        <div class="prose lede cta_prose">
          {{ .Params.intro | markdownify }}
        </div>
      {{ end }}
      {{ if .Params.author }}
          {{ partial "author" . }}
      {{ end }}
    </div>
    {{ if  .Params.toc }}
      <div class="col-span-12">
        {{ .TableOfContents }}
      </div>
    {{ end }}
  </div>
</header>
