<header class="snap-start bg-indigo text-buff relative">
  <div class="absolute z-10 top-0 left-0 right-0 hero-header bg-gradient-to-b from-indigo to-transparent"></div>

  {{ if .Params.cover_img }}
    <div class="lg:absolute lg:w-1/2 lg:top-0 lg:right-0 lg:h-[100dvh] bleed lg:bleed-none lg:z-0 lg:ml-0">
      {{ partial "image__service" . }}
    </div>
  {{ end }}

  <div class="container grid grid-cols-1 gap-8 lg:gap-16 lg:grid-cols-12 -mt-32 lg:mt-0 z-20">
    <div class="flex flex-col col-span-full gap-10 lg:row-span-2 lg:mt-24 hero--full-lg hero-space lg:pb-10 lg:col-span-7 lg:z-20">
      <ol class="absolute z-20 top-[94px] md:top-[205px] lg:relative lg:top-0 inline-flex gap-10 font-sans list-none items-start" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li class="relative inline-flex items-center justify-between" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a class="underline" href="/services/" itemprop="item"><span itemprop="name">Services</span></a>
        <meta itemprop="position" content="1" />
        </li>
      </ol>
      <h1 class="text-4xl lg:text-5xl 2xl:text-6xl" style="word-break: break-word;">{{ with .Params.Heading }} {{ . | safeHTML }} {{ else }} {{ with .Page.Title }}{{ . | safeHTML }}{{ end }}{{ end }}</h1>

      <p class="lede lg:mt-12 md:w-2/3 lg:w-10/12"> {{ .Params.intro }}</p>

    </div>
    <div class="col-span-full lg:col-span-5 lg:min-h-dynamic-screen"></div>
    <div class="col-span-full lg:col-span-5 lg:col-start-8 lg:self-end pb-8 lg:pb-16">
      <h2 class="text-md h--condensed mb-2">Our {{ .Title }} services</h2>
      <ul class="font-sans font-medium block columns-2 md:gap-x-10">
        {{ range $index, $e := .Pages }}
          <li class="text-sm lg:text-base py-0.5 md:py-1">
            <a href="{{ $e.Permalink }}" class="a--underline a--underline-yellow">{{ title $e.Params.Heading }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</header>
