<header class="flex grid min-h-dynamic-screen gap-10 items-between bg-teal text-blue">
  <div class="container grid grid-cols-12 pt-10 lg:py-10">

    <div class="col-span-full lg:col-span-8 xl:col-span-6 flex flex-col gap-10 lg:gap-24 lg:order-first">

      <ol class="inline-flex gap-10 font-sans list-none items-start" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li class="relative after:absolute after:left-full after:ml-4 inline-flex items-center justify-between after:flex after:content-['/']" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a class="underline" href="/about/" itemprop="item"><span itemprop="name">About</span></a>
          <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <span aria-current="page" itemprop="name">{{ .Page.Title }}</span>
          <meta itemprop="position" content="2" />
        </li>
      </ol>

      <div>
        <h1>{{ .Params.Heading|safeHTML }}</h1>
        {{ if .Params.intro }}
          <div class="lg:max-w-5xl mt-10 prose lede cta_prose">
            {{ .Params.intro | markdownify }}
          </div>
        {{ end }}
      </div>
    </div>
    {{ if .Params.cover_img }}
      <div class="col-span-8 col-start-5 md:col-span-6 md:col-start-7 lg:col-span-4 lg:col-start-9 lg:row-start-1 lg:order-last lg:self-end">
        {{ partial "image__impact" . }}
      </div>
    {{ end }}
  </div>
  {{ partial "our-impacts" . }}
</header>
