
{{ $src := (.Params.cover_img ) }}
{{ $alt := ( .Params.cover_img_alt ) }}
{{ $img := resources.GetMatch (printf "**%s" ($src)) }}

{{ with $img }}
  {{ $2xl := $img.Fill "800x600 jpg" }}

  {{ $xl := $img.Resize "800x" }}
  {{ $lg := $xl.Resize "600x" }}
  {{ $md := $lg.Resize "400x" }}
  {{ $sm := $md.Resize "300x" }}

  <img
    alt="{{ $alt }}"
    class="inset-0 flex-grow object-cover w-full min-h-full lg:absolute max-w-none"
    height="{{ .Height }}"
    src="{{ $sm.RelPermalink }}"
    srcset="
    {{ $sm.RelPermalink }} 300w,
    {{ $md.RelPermalink }} 400w,
    {{ $lg.RelPermalink }} 600w,
    {{ $xl.RelPermalink }} 800w,
    {{ $2xl.RelPermalink }} 1200w"
    sizes="(min-width: 100em) 33vw, 100vw"
    width="{{ .Width }}"
  />
{{ end }}
