
{{ $src := (.Params.cover_img ) }}
{{ $alt := ( .Params.cover_img_alt ) }}
{{ $img := resources.GetMatch (printf "**%s" ($src)) }}

{{ with $img }}
  {{- $5xl := $img.Fill "2560x1920 jpg" -}}
  {{- $4xl := $5xl.Resize "1920x" -}}
  {{- $3xl := $4xl.Resize "1440x" -}}
  {{- $2xl := $3xl.Resize "1280x" -}}
  {{- $xl := $img.Resize "960x" -}}
  {{- $lg := $xl.Resize "640x" -}}
  {{- $md := $lg.Resize "480x" -}}
  {{- $sm := $md.Resize "320x" -}}

  <img
    alt="{{ $alt }}"
    class="absolute lg:static object-cover w-full h-full lg:transition-all lg:duration-300 lg:ease-in-out lg:group-hover:h-[110%] lg:group-focus:h-[110%]"
    height="{{ .Height }}"
    loading=eager
    sizes="100vw"
    src="{{ $sm.RelPermalink }}"
    srcset="
    {{ $sm.RelPermalink }} 320w,
    {{ $md.RelPermalink }} 480w,
    {{ $lg.RelPermalink }} 640w,
    {{ $xl.RelPermalink }} 960w,
    {{ $2xl.RelPermalink }} 1280w,
    {{ $3xl.RelPermalink }} 1440w,
    {{ $4xl.RelPermalink }} 1920w,
    {{ $5xl.RelPermalink }} 2560w"
    width="{{ .Width }}"
  >
{{ end }}
