
{{ $src := (.Params.illustration ) }}
{{ $src := replace $src "images" "https://madebykind.imgix.net" }}
{{ $alt := (.Params.illustration_alt ) }}

{{ with $src }}

  <img
    alt="{{ $alt }}"
    class="object-cover h-40 sm:h-64 md:h-24 lg:h-36 xl:h-64 w-auto"
    loading=lazy
    sizes="(min-width: 100em) 33vw, 96vw"
    src="{{ (printf "%s?w=624&auto=compress,format" .) }}"
    srcset="
    {{ (printf "%s?w=312&auto=compress,format" .) }} 300w,
    {{ (printf "%s?w=624&auto=compress,format" .) }} 600w"
    height="156"
    width="156"
    role="presentation"
  >
{{ end }}
