{{ $src := (.Params.cover_img ) }}
{{ $alt := ( .Params.cover_img_alt ) }}
{{ $src := replace $src "images" "https://madebykind.imgix.net" }}

{{ with $src }}

    <img 
      alt="{{ $alt }}"
      class="object-cover w-full h-full transition-all duration-300 ease-in group-hover:scale-110"
      loading=lazy
      sizes="(min-width: 100em) 100vw"
      src="{{ (printf "%s?w=320&ar=1:1&fit=crop&auto=format" .) }}" 
      srcset="
        {{ (printf "%s?w=320&ar=9:14&fit=crop&auto=format" .) }} 320w,
        {{ (printf "%s?w=640&ar=9:14&fit=crop&auto=format" .) }} 640,
        {{ (printf "%s?w=768&ar=4:3&fit=crop&auto=format" .) }} 768w,
        {{ (printf "%s?w=1024&ar=4:3&fit=crop&auto=format" .) }} 1024w,
        {{ (printf "%s?w=1280&ar=4:3&fit=crop&auto=format" .) }} 1280w,
        {{ (printf "%s?w=1536&ar=4:3&fit=crop&auto=format" .) }} 1536w"
    >
{{ end }}
