
{{ $src := (.Params.impact.img ) }}
{{ $alt := ( .Params.impact.img_alt ) }}
{{ $src := replace $src "images" "https://madebykind.imgix.net" }}

{{ with $src }}

  <img
    alt="{{ $alt }}"
    class="object-cover w-full h-full"
    loading=lazy
    sizes="(min-width: 100em) 48vw, 96vw"
    src="{{ (printf "%s?w=300&auto=format" .) }}"
    srcset="
    {{ (printf "%s?w=300&ar=4:3&fit=crop&auto=format" .) }} 300w,
    {{ (printf "%s?w=400&ar=4:3&fit=crop&auto=format" .) }} 400w,
    {{ (printf "%s?w=600&ar=4:3&fit=crop&auto=format" .) }} 600w,
    {{ (printf "%s?w=800&ar=4:3&fit=crop&auto=format" .) }} 800w,
    {{ (printf "%s?w=1200&ar=4:3&fit=crop&auto=format" .) }} 1200w"
  >
{{ end }}