
{{- $img := resources.GetMatch ($.src) -}}

{{- $actualImg := $img.Resize "640x" -}}
{{- $dataSizes := "(min-width: 90em) 49vw, 98vw" -}}
{{- $imgClass := "object-cover h-full" -}}
{{- $respSizes := slice "320" "640" "960" "1280" "1600" "1920" -}}

{{ with $img }}
<picture>
	<source sizes="{{ $dataSizes }}" srcset="
    {{- with $respSizes -}}
      {{- range $i, $e := . -}}
        {{- if ge $img.Width . -}}
          {{- if $i }}, {{ end -}}{{- ($img.Resize (printf " %sx%s" . " webp") ).RelPermalink }} {{ . }}w
        {{- end -}}
      {{- end -}}
    {{- end -}}" type="image/webp">

	<img 
    alt="{{ $.alt }}" 
    class="{{ $.class }}" 
    height={{ $img.Height }}
    loading=lazy 
    sizes="{{ $dataSizes }}"
    src="{{ $actualImg.RelPermalink }}"
    srcset="
    {{- with $respSizes -}}
      {{- range $i, $e := . -}}
        {{- if ge $img.Width . -}}
          {{- if $i }},
          {{ end -}}
            {{- ($img.Resize (printf " %sx%s" . " jpg" )).RelPermalink }}
          {{ . }}w
        {{- end -}}
      {{- end -}}
    {{- end -}}"
    width={{ $img.Width }}>
</picture>
{{ end }}
