
{{ $src := (.Params.cover_img ) }}
{{ $alt := ( .Params.cover_img_alt ) }}
{{ $src := replace $src "images" "https://madebykind.imgix.net" }}

{{ with $src }}

  <img
    alt="{{ $alt }}"
    class="object-cover h-full transition-all duration-300 ease-in-out group-hover:scale-110 group-focus:scale-110"
    loading=lazy
    sizes="(min-width: 100em) 33vw, 96vw"
      src="{{ (printf "%s?w=300&ar=1:1&fit=crop&auto=compress,format" .) }}" 
      srcset="
        {{ (printf "%s?w=300&ar=4:3&fit=crop&auto=compress,format" .) }} 300w,
        {{ (printf "%s?w=400&ar=4:3&fit=crop&auto=compress,format" .) }} 400w,
        {{ (printf "%s?w=600&ar=4:3&fit=crop&auto=compress,format" .) }} 600w,
        {{ (printf "%s?w=800&ar=4:3&fit=crop&auto=compress,format" .) }} 800w"
    height="600"
    width="800"
  >
{{ end }}
