
{{ $src := ( .Params.cover_img ) }}
{{ $alt := ( .Params.cover_img_alt ) }}
{{ $src := replace $src "images" "https://madebykind.imgix.net" }}

{{ with $src }}

  <img
    alt="{{ $alt }}"
    class="w-full h-full object-cover relative z-0"
    loading="eager"
    fetchpriority="high"
    sizes="(min-width: 64em) 34vw, 100vw"
    src="{{ (printf "%s?w=320&ar=4:5&fit=crop&auto=compress,format" .) }}"
    srcset="
    {{ (printf "%s?w=320&ar=4:5&fit=crop&auto=compress,format" .) }} 320w,
    {{ (printf "%s?w=480&ar=4:5&fit=crop&auto=compress,format" .) }} 480w,
    {{ (printf "%s?w=640&ar=1:1&fit=crop&auto=compress,format" .) }} 640w,
    {{ (printf "%s?w=960&ar=1:1&fit=crop&auto=compress,format" .) }} 960w,
    {{ (printf "%s?w=1280&ar=1:1&fit=crop&auto=compress,format" .) }} 1280w,
    {{ (printf "%s?w=1440&ar=1:1&fit=crop&auto=compress,format" .) }} 1440w"
  >
{{ end }}
