{{ $alt := ( .Params.cover_img_alt ) }}
{{ $img := resources.GetMatch ($.src) }}
{{ $src := (.Params.cover_img ) }}

{{ with $img }}
	{{ $2xl := $img.Resize "1280x jpg" }}
	{{ $xl := $2xl.Resize "960x" }}
	{{ $lg := $xl.Resize "640x" }}
	{{ $md := $lg.Resize "480x" }}
	{{ $sm := $md.Resize "320x" }}

	<img alt="{{ $alt }}" 
    class="object-cover" 
    height="{{ .Height }}" 
    loading="lazy" 
    sizes="(min-width: 100em) 48vw, 96vw" 
    src="{{ $sm.RelPermalink }}" 
    srcset="
      {{ $sm.RelPermalink }} 320w,
      {{ $md.RelPermalink }} 480w,
      {{ $lg.RelPermalink }} 640w,
      {{ $xl.RelPermalink }} 960w,
      {{ $2xl.RelPermalink }} 1280w" 
    width="{{ .Width }}">
{{ end }}
