
<div id="mobile-navigation" class="mobile-navigation flex items-center bg-indigo text-buff md:hidden">
  <button type="button" class="absolute top-7 right-5 text-buff" data-toggle data-target="#mobile-navigation" data-toggle-fixed aria-controls="mobile-navigation">
    <svg class="w-6 h-6">
      <use xlink:href="#icon-close"/>
    </svg>
  </button>
  <div class="flex flex-col w-full gap-10">
    <nav aria-label="Main menu">
      <ul class="flex flex-col items-center justify-center gap-10 m-0 list-none" role="list">
        {{ range .Site.Menus.main }}
        <li class="text-xl h--condensed leading-heading">
          <a href="{{ .URL }}" class="no-underline">{{- .Name -}}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
    <div class="inline-flex items-center justify-center gap-5">
      <svg class="w-24 h-32" role="presentation">
        <use xlink:href="#icon-bcorp"/>
      </svg>
      <svg class="w-32 h-24" role="presentation">
        <use xlink:href="#icon-1fortheplanet"/>
      </svg>
    </div>
  </div>
</div>