<form action="https://madebykind.us16.list-manage.com/subscribe/post?u=7a49f87afb625e8dd4de9d9fa&amp;id=ad6d75af23&amp;f_id=003a1ae0f0" method="post">
  <input type="hidden" name="redirect" value="https://madebykind.com/optin">

  <label for="fieldEmail" class="font-sans text-xs font-bold {{ with $.label_class }}{{ . }}{{ end }}">Your email address</label>
  <div class="relative w-full mb-2">
    <input autocomplete="Email" aria-label="Email" class="border-2 {{ $.border_class }} bg-white block w-full p-3 pr-[6.5rem] text-sm focus:outline-none min-h-[3.625rem]" id="fieldEmail" maxlength="200" name="EMAIL" required type="email">
    <button type="submit" class="btn btn--small btn--primary absolute right-0 top-0 cursor-pointer min-h-[3.625rem] {{ with $.btn_class }}{{ . }}{{ end }}">
      {{ $.btn_text }}
      <svg class="w-8 h-3 shrink-0" role="presentation">
        <use xlink:href="#icon-arrow"/>
      </svg>
    </button>
  </div>
  
  <div aria-hidden="true" style="position: absolute; left: -5000px;">
    {{ with $.tag }}
      <input type="hidden" name="tags" value="{{ . }}">
    {{ end }}
    <input type="hidden" name="MMERGE3" value="{{ $.url }}" tabindex="-2">
    <input type="text" name="b_7a49f87afb625e8dd4de9d9fa_ad6d75af23" tabindex="-1" value="">
  </div>
</form>

<p class="font-sans text-xs">Your data will be processed by Kind and MailChimp for the purposes of {{ $.purposes }}. For more information, please read our <a href="/about/legal/privacy/">privacy policy</a>.</p>
