{{ $src := "images/empowering-change.png" }}
{{ $src := replace $src "images" "https://madebykind.imgix.net" }}
{{ $btn_text := "Go" }}
{{ $border_class := "border-indigo focus:border-blue" }}

{{ with $.btn_text }}
  {{ $btn_text = . }}
{{ end }}
{{ with $.border_class }}
  {{ $border_class = . }}
{{ end }}


<div class="{{ with $.block_class }}{{ . }}{{ end }}">
  <div {{ if eq $.style "wide" }}class="section grid grid-cols-4 lg:grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8 lg:gap-y-12 items-center"{{ end }}>
    {{ with $src }}

      <picture class="{{ if eq $.style "wide" }}lg:order-1 col-span-2 lg:col-span-4{{ else }}max-w-iphone{{ end }} block">
        <img 
          alt="Illustration of a person holding a watering can that waters many plants" 
          class="w-full {{ with $.image_class }}{{ . }}{{ end }}"
          loading=eager
          sizes="(min-width: 100em) 33vw, 96vw"
          src="{{ (printf "%s?w=320&auto=format" .) }}" 
          srcset="
        {{ (printf "%s?w=320&auto=format" .) }} 320w,
        {{ (printf "%s?w=480&auto=format" .) }} 480w,
        {{ (printf "%s?w=640&auto=format" .) }} 640w,
        {{ (printf "%s?w=800&auto=format" .) }} 800w,
        {{ (printf "%s?w=1280&auto=format" .) }} 1280w"
        >
      </picture>
    {{ end }}

    <div {{ if eq $.style "wide" }}class="col-span-full lg:col-span-7"{{ end }}>
      <div class="max-w-[57ch]">
        <h2 class="h--condensed mb-4 {{ with $.heading_class }}{{ . }}{{ end }}">{{ $.heading }}</h2>
        {{ with $.description }}
          <p class="{{ with $.text_class }}{{ . }}{{ end }} mb-4"> {{ . }}</p>
        {{ end }}


        <form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E905619350D6DDB27E7BE129FD2F8BADC9506325CEA10D4D02B1606A711C01B2ABF7F31B45FC1584FC4949698CC5689452964D1" data-subscribe-form>
          <label for="email" class="font-sans text-xs font-bold {{ with $.label_class }}{{ . }}{{ end }}">Your email address</label>
          <div class="relative w-full mb-2">
            <input autocomplete="Email" aria-label="Email" class="border-2 {{ $border_class }} bg-white block w-full p-3 pr-[6.5rem] text-sm focus:outline-none min-h-[3.625rem] js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-jkttjly-jkttjly" required type="email">
            <button type="submit" class="btn btn--small btn--primary absolute right-0 top-0 cursor-pointer min-h-[3.625rem] {{ with $.btn_class }}{{ . }}{{ end }}">
              {{ $btn_text }}
              <svg class="w-8 h-3 shrink-0" role="presentation">
                <use xlink:href="#icon-arrow"/>
              </svg>
            </button>
          </div>
          <input aria-label="Signup from" id="fieldtdvjhh" maxlength="200" name="cm-f-tdvjhh" type="hidden" value="{{ $.url }}">
        </form>
        <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>

        <p class="font-sans text-xs">Your data will be processed by Kind and Campaign Monitor for the purposes of sending you a quarterly update email. For more information, please read our <a href="/about/legal/privacy/">privacy policy</a></p>
      </div>
    </div>
  </div>
</div>