{{ $src := "images/empowering-change.png" }}
{{ $src := replace $src "images" "https://madebykind.imgix.net" }}
{{ $btn_text := "Go" }}
{{ $border_class := "border-indigo focus:border-blue" }}
{{ $label_class := "" }}
{{ $url := "" }}
{{ $purposes := "sending you insights and updates about our work" }}

{{ with $.btn_text }}
  {{ $btn_text = . }}
{{ end }}
{{ with $.border_class }}
  {{ $border_class = . }}
{{ end }}
{{ with $.label_class }}
  {{ $label_class = . }}
{{ end }}
{{ with $.purposes }}
  {{ $purposes = . }}
{{ end }}
{{ with $.url }}
  {{ $url = . }}
{{ end }}

<div class="{{ with $.block_class }}{{ . }}{{ end }}">
  <div {{ if eq $.style "wide" }}class="section grid grid-cols-4 lg:grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8 lg:gap-y-12 items-center"{{ end }}>
    {{ with $src }}

      <picture class="{{ if eq $.style "wide" }}lg:order-1 col-span-2 lg:col-span-4{{ else }}max-w-iphone{{ end }} block">
        <img 
          alt="Illustration of a person holding a watering can that waters many plants" 
          class="w-full {{ with $.image_class }}{{ . }}{{ end }}"
          loading="lazy"
          sizes="(min-width: 100em) 33vw, 96vw"
          src="{{ (printf "%s?w=320&auto=compress,format" .) }}" 
          srcset="
        {{ (printf "%s?w=320&auto=compress,format" .) }} 320w,
        {{ (printf "%s?w=480&auto=compress,format" .) }} 480w,
        {{ (printf "%s?w=640&auto=compress,format" .) }} 640w,
        {{ (printf "%s?w=800&auto=compress,format" .) }} 800w,
        {{ (printf "%s?w=1280&auto=compress,format" .) }} 1280w"
        >
      </picture>
    {{ end }}

    <div {{ if eq $.style "wide" }}class="col-span-full lg:col-span-7"{{ end }}>
      <div class="max-w-[57ch]">
        <h2 class="h--condensed mb-4 {{ with $.heading_class }}{{ . }}{{ end }}">{{ $.heading }}</h2>
        {{ with $.description }}
          <p class="{{ with $.text_class }}{{ . }}{{ end }} mb-4"> {{ . }}</p>
        {{ end }}

        {{ partial "newsletter-form" (dict
          "url" $url
          "btn_text" $btn_text
          "border_class" $border_class
          "label_class" $label_class
          "purposes" $purposes
          "tag" $tag
        ) }}
      </div>
    </div>
  </div>
</div>

