<section class="flex flex-col justify-center min-h-dynamic-screen gap-10 bg-teal text-blue section--lg snap-start">
	<div class="container grid gap-10 md:grid-cols-12">
    <div class="col-span-full lg:col-span-9 xl:col-span-7">
      <h2 class="h1 h--condensed">Sustainable isn’t what we do it’s who we are</h2>
    </div>
    <div class="prose col-span-full md:col-span-9 lg:order-3 xl:col-span-7 lede">
      <p>We don’t leave our ethics at the agency door. We live our values round the clock, professionally and personally.</p>
    </div>
    <div class="flex md:col-span-3 md:justify-center col-span-full lg:row-span-2 xl:col-span-5">
      <svg class="w-24 h-32 lg:w-48 lg:h-64 flex-no-shrink" role="presentation">
        <use xlink:href="#icon-bcorp"/>
      </svg>
    </div>
	</div>
  <div class="container flex flex-col gap-10">
    <h3 class="sr-only">Our impact in numbers</h3>
    {{ with .Params.related_stats }}
      {{ partial "related-stats.html" . }}
    {{ end }}
    <div class="flex flex-wrap gap-5 lg:gap-10">
      <a class="btn btn--primary" href="/about/manifesto" onclick="javascript:insights.track({id: 'home-impact-button-1',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});">Our manifesto<svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </a>
      <a class="btn btn--secondary text-indigo" href="/about/our-impact/" onclick="javascript:insights.track({id: 'home-impact-button-2',parameters: {locale: insights.parameters.locale(),screenSize: insights.parameters.screenType(),referrer: insights.parameters.referrer(),path: insights.parameters.path()}});">Our impact<svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
