<section class="flex items-center bg-blue text-teal snap-start section">
	<div class="container grid gap-10 lg:grid-cols-12">
    <div class="lg:col-span-full">
      <h2 class="h--ui">Our headline stats</h2>
      {{ with .Params.related_stats }}
        <ul class="flex flex-wrap gap-5 lg:gap-10">
          <li>
            <svg class="w-auto h-full flex-no-shrink" role="presentation">
              <use xlink:href="#icon-bcorp"/>
            </svg>
          </li>
          {{ range . }}
            {{ with site.GetPage . }}
              <li class="max-w-xs">
                <article>
                  <h3 class="h1">{{ .Title }}</h3>
                  <p class="mt-5">{{ .Content }}</p>
                </article>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </div>
	</div>
</section>
