<section class="flex items-center min-h-screen bg-teal text-blue section--lg snap-start">
	<div class="container grid gap-10 lg:grid-cols-12">
    <div class="grid gap-10 lg:col-span-8 xl:col-span-7">
      <h2 class="h1 h--condensed">Sustainable isn’t what we do it’s who we are</h2>
      <div class="prose lede">
      <p>We don’t leave our ethics at the agency door. We live our values round the clock, professionally and personally.</p>
      </div>
    </div>
    <div class="lg:col-span-full">
      <h3 class="h--ui">Our headline stats</h3>
      {{ with .Params.related_stats }}
        {{ partial "related-stats.html" . }}
      {{ end }}
    </div>
	</div>
</section>
