<header class="{{ if isset .Params "block_class" }}{{ .Params.block_class }} {{ end }}grid content-center min-h-screen h-min border-b pt-24 lg:pt-32 xl:pt-48">
	<div class="container grid gap-5 md:grid-cols-2">
		<div class="grid col-span-1 gap-5 items-between">
      {{ if .Params.tags }}
        <nav aria-label="Explore related content by tag">
          {{ partial "tags--linked" . }}
        </nav>
      {{ end }}
			<h1>{{ .Page.Title|safeHTML }}</h1>
      {{ with .Params.meta }}
        {{ partial "meta" . }}
      {{ end }}
      {{ if .Description }}
      <div class="font-light prose max-w-cta-copy cta_prose">
        <p class="max-w-copy lede">{{ .Description }}</p>
			</div>
      {{ end }}
		</div>
		{{ if isset .Params "cover_img" }}
			<div class="self-end max-w-2xl col-span-1 justify-self-end">
				{{ partial "image__illustration" . }}
			</div>
		{{ end }}
  {{ if  .Params.toc }}
    <div>
        <h2 class="h3">{{ i18n "tocTitle" }}</h2>
        {{ .TableOfContents }}
    </div>
  {{ end }}
	</div>
</header>
