<header{{with.Params.header_class}} class="{{ . }}" {{ end }}>
  <div class="container grid items-end content-end gap-10 md:grid-cols-12 section">
    {{ if .Params.cover_img }}
      <div class="col-span-12 md:col-span-4 md:col-start-9 md:row-start-1">
        {{ partial "image__illustration" . }}
      </div>
    {{ end }}
    <div class="grid max-w-6xl col-span-12 gap-10 md:col-span-8">
      <h1 class="leading-heading">{{ .Page.Title|safeHTML }}</h1>
      {{ partial "meta" . }}
      {{ if .Params.intro }}
        <div class="max-w-4xl prose lede">
          {{ .Params.intro | markdownify }}
        </div>
      {{ end }}
    </div>
    {{ if .Params.intro }}
      <div class="max-w-4xl col-span-12 md:col-start-9 md:col-span-4 ">
        {{ partial "author" . }} 
      </div>
    {{ end }}
    {{ if  .Params.toc }}
    <div class="col-span-12">
      {{ .TableOfContents }}
    </div>
    {{ end }}
  </div>
</header>
