{{ if isset .Site.Params "pricing" }}
  {{ if .Site.Params.pricing.enable }}
  <section class="section border-t border-ui">
    <div class="container">
      <div class="mb-12">
        <h2 class="m-0 font-bold font-sans text-sm tracking-wider uppercase">{{ i18n "pricingTitle" }}</h2>
        <div class="font-medium h3 mt-2">{{ i18n "pricingDescription" }}</div>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 max-w-sm">
          <div class="h-full p-6 bg-ui border border-ui flex flex-col shadow-sm">
            <h3 class="text-sm tracking-widest font-bold font-sans">START</h3>
            <div class="text-5xl pb-4 mb-4 border-b border-ui leading-none">Free</div>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Vexillologist pitchfork
            </p>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Tumeric plaid portland
            </p>
            <p class="flex items-center mb-6">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Mixtape chillwave tumeric
            </p>
          </div>
        </div>
        <div class="p-4 max-w-sm">
          <div class="text-black h-full p-6 border border-ui flex flex-col relative bg-pink-400">
            <span class="bg-gray-900 text-white font-sans font-bold px-3 py-1 tracking-wider text-xs absolute right-0 top-0 rounded-bl">Most popular</span>
            <h3 class="text-sm tracking-widest font-bold font-sans">PRO</h3>
            <div class="text-5xl leading-none flex items-center pb-4 mb-4 border-b border-ui">
              <span>$38</span>
              <span class="text-lg">/mo</span>
            </div>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-900 text-white rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Vexillologist pitchfork
            </p>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-900 text-white rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Tumeric plaid portland
            </p>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-900 text-white rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Hexagon neutra unicorn
            </p>
            <p class="flex items-center mb-6">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-900 text-white rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Mixtape chillwave tumeric
            </p>
          </div>
        </div>
        <div class="p-4 max-w-sm">
          <div class="h-full p-6 bg-ui border border-ui flex flex-col shadow-sm">
            <h3 class="text-sm tracking-widest font-bold font-sans">BUSINESS</h3>
            <div class="text-5xl leading-none flex items-center pb-4 mb-4 border-b border-ui">
              <span>$56</span>
              <span class="text-lg">/mo</span>
            </div>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Vexillologist pitchfork
            </p>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Tumeric plaid portland
            </p>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Hexagon neutra unicorn
            </p>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Vexillologist pitchfork
            </p>
            <p class="flex items-center mb-6">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Mixtape chillwave tumeric
            </p>
          </div>
        </div>
        <div class="p-4 max-w-sm">
          <div class="h-full p-6 bg-ui border border-ui flex flex-col shadow-sm">
            <h3 class="text-sm tracking-widest font-bold font-sans">SPECIAL</h3>
            <div class="text-5xl leading-none flex items-center pb-4 mb-4 border-b border-ui">
              <span>$72</span>
              <span class="text-lg">/mo</span>
            </div>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Vexillologist pitchfork
            </p>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Tumeric plaid portland
            </p>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Hexagon neutra unicorn
            </p>
            <p class="flex items-center mb-2">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Vexillologist pitchfork
            </p>
            <p class="flex items-center mb-6">
              <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-100 text-green-600 rounded-full flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                  <path d="M20 6L9 17l-5-5"></path>
                </svg>
              </span>Mixtape chillwave tumeric
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}