{{ $heading := "" }}
{{ $headingLevel := "h2" }}
{{ $container := true }}
{{ $hideservices := false }}

{{ if .heading }}
  {{ $heading = .heading }}
{{ end }}

{{ if .headingLevel }}
  {{ $headingLevel = .headingLevel }}
{{ end }}

{{ if .hide_services }}
  {{ $hideservices = .hide_services }}
{{ end }}

{{ if eq .container false }}
  {{ $container = false }}
{{ end }}

{{ if .sector }}
  {{ with site.GetPage .sector }}
    {{ $heading = .Title }}
  {{ end }}
{{ end }}


<aside class="{{ .block_class }}">
  <div class="{{ if $container }} container {{ end }}">
    {{ if $heading }}
      {{ if eq $headingLevel "h3" }}
      <h3 class="{{ .heading_class }}">{{ $heading }}</h3>
      {{ else }}
      <h2 class="{{ .heading_class }}">{{ $heading }}</h2>
      {{ end }}
    {{ end }}

    <ol class="grid grid-cols-1 md:grid-cols-12 gap-10">
      {{ range $index, $p := .context }}
        {{ with site.GetPage $p }}
          {{ if eq $index 0 }}
            <li class="col-span-full lg:col-span-8">
            {{ partial "teaser__work" (dict 
                "context" .
                "reverse" true
                "hidelink" true
                "hideservices" $hideservices
              ) }}
            </li>
          {{ else }}
            <li class="col-span-full md:col-span-6 lg:col-span-4">
              {{ partial "card_work" (dict 
                  "context" .
                  "reverse" true
                  "dark" true
                  "hideservices" $hideservices
                ) }}
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ol>
  </div>

</aside>




