<footer class="" id="contact">
  <div class="grid antialiased bg-indigo text-buff">
    <div class="container section">
      <h2>{{ i18n "contactTitle" }}</h2>
      <p class="mt-5 text-md">{{ i18n "ctaCopy" }}</p>
      <div class="flex gap-4 mt-10">
      <p class="font-bold">Speak to Mat or Michelle</p>
        <ul class="inline-flex gap-5 list-none" role="list">
          <li class="relative inline-flex after:content-['/'] after:absolute after:-right-4">
            <span class="sr-only">{{ i18n "emailTitle" }}</span><a href="mailto:{{.Site.Params.Email}}" rel="me">{{.Site.Params.Email}}</a>
          </li>
          <li>
            <span class="sr-only">{{ i18n "phoneTitle" }}</span><a href="tel:{{.Site.Params.Phone}}">{{.Site.Params.PhonePretty}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container section">
    <nav aria-label="{{ i18n "socialTitle" }}">
      <ul class="flex flex-wrap items-center gap-2 list-none" role=list>
        {{ if isset .Site.Params "facebook" }}
        <li>
          <a href="{{ .Site.Params.Facebook }}" title="Facebook">
            <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
              <use xlink:href="#icon-facebook"/>
            </svg>
          </a>
        </li>
        {{ end }}

        {{ if isset .Site.Params "instagram" }}
          <li class="mx-2">
            <a href="{{ .Site.Params.Instagram }}" title="Instagram">
              <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
                <use xlink:href="#icon-instagram"/>
              </svg>
            </a>
          </li>
        {{ end }}

        {{ if isset .Site.Params "twitter" }}
          <li class="mx-2">
            <a href="{{ .Site.Params.Twitter }}" rel="me noopener" title="Twitter">
              <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
                <use xlink:href="#icon-twitter"/>
              </svg>
            </a>
          </li>
        {{ end }}

        {{ if isset .Site.Params "linkedin" }}
          <li class="mx-2">
            <a href="{{ .Site.Params.Linkedin }}" title="LinkedIn">
              <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
                <use xlink:href="#icon-linkedin"/>
              </svg>
            </a>
          </li>
        {{ end }}

        {{ if isset .Site.Params "github" }}
          <li class="mx-2">
            <a href="{{ .Site.Params.Github }}" rel="me noopener" title="Github">
              <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
                <use xlink:href="#icon-github"/>
              </svg>
            </a>
          </li>
        {{ end }}

      </ul>
    </nav>
  </div>
  <div class="container flex justify-between py-5 border-t-2">
    <address class="text-sm">
      16 Commerce Square, Nottingham, NG1 1HS
    </address>
    <p>
      <small>
        <a href="/legal">Policies and legal information</a>&copy;{{ .Site.Params.Owner }}
      </small>
      <small>
        {{.Site.Copyright }}
      </small>
    </p>
  </div>
</footer>
