<header class="z-10 w-full bg-buff">
  <div class="container flex flex-wrap items-center justify-between gap-5 py-5">
    {{ partial "logo" . }}
    <nav class="flex-grow w-auto max-w-4xl" aria-label="Main menu">
      <ul class="flex items-center justify-between flex-grow gap-5 m-0 font-bold list-none" role="list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="relative {{ if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }} relative flex before:text-orange items-center before:flex before:content-['•'] before:absolute before:-left-1 {{ end }}">
<a class="btn after:h-1 after:w-full after:opacity-0 hover:after:opacity-100 focus:after:opacity-100 after:absolute after:bg-orange after:left-0 after:bottom-0" {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} aria-current="page" {{ end }} href="{{ .URL }}">

            {{- .Name -}}
          </a>
        </li>
        {{ end }}
        <li>
          <a class="btn" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="flex items-center">
      <svg class="w-auto h-20" viewbox="0 0 77 63"  role="presentation">
        <use xlink:href="#icon-bcorp"/>
      </svg>
      <svg class="h-auto w-28" viewbox="0 0 131 63"  role="presentation">
        <use xlink:href="#icon-1fortheplanet"/>
      </svg>
    </div>
  </div>
</header>
