<article class="border-b-2">
  <a aria-labelledby="#{{ .Title }}" class="grid gap-5 no-underline group" href="{{ .Permalink }}">  
    {{ if isset .Params "tags" }}
      {{ partial "tags" . }}
    {{ end }}
    <h3 id="{{ .Title | urlize }}">{{ .Title }}</h3>
    {{ if .Date }}
      <div class="mt-2 text-sm">
      {{ i18n "publishedOn" }} {{ .Date.Format .Site.Params.date_format }}
      </div>
    {{ end }}

    {{ .Summary | markdownify }}
    <p class="mt-8 read-more">
      {{ i18n "readMore" }}&rarr;<span class="sr-only"> {{ .Title }}</span>
    </p>
  </a>
</article>