<article class="{{ .context.Params.block_class }}">
  <a aria-labelledby="{{ .context.Title | urlize }}" class="no-underline group" href="{{ .context.Permalink }}">
    <div class="container grid lg:gap-20 md:grid-cols-2">
      {{ if isset .context.Params "cover_img" }}
        <div class="relative md:col-span-1{{ if .odd }} md:order-1{{ end }}">
          {{ partial "image__teaser-lg" .context }}
        </div>
      {{ end }}
      <div class="relative grid content-center gap-5 py-10 md:col-span-1">
        {{ if isset .context.Params "tags" }}
          {{ partial "tags" .context }}
        {{ end }}
        <h3 class="text-2xl" id="{{ .context.Title | urlize }}">{{ .context.Title }}</h3>
        <p class="flex gap-5 justify-apart">
          {{ .context.Summary }}
          <svg class="w-8 h-8" viewbox="0 0 77 63" role="presentation">
            <use xlink:href="#icon-arrow"/>
          </svg>
        </p>
      </div>
    </div>
  </a>
</article>