<article class="{{ .context.Params.block_class }}">
  <a aria-labelledby="{{ .context.Title | urlize }}" class="no-underline group" href="{{ .context.Permalink }}">
    <div class="container grid lg:gap-20 lg:grid-cols-2">
      <div class="relative lg:col-span-1{{ if .odd }} lg:order-1{{ end }}">
        {{ if isset .context.Params "cover_img" }}
          {{ partial "image__teaser-lg" .context }}
        {{ end }}

        {{ with .context.Params.icon }}
        <div class="absolute bottom-0 p-5 bg-buff">
          <svg class="w-24 h-24 text-black flex-no-shrink" role="presentation">
            <use xlink:href="#icon-{{ . }}"/>
          </svg>
        </div>
        {{ end }}
      </div>
      <div class="relative grid content-center gap-5 py-10 lg:col-span-1">
        {{ if isset .context.Params "tags" }}
          {{ partial "tags" .context }}
        {{ end }}
        <h3 class="text-xl leading-heading h--condensed" id="{{ .context.Title | urlize }}">{{ .context.Title }}</h3>
        <p class="flex items-center gap-5 justify-apart">
          {{ .context.Summary }}
          <svg class="w-12 h-4 flex-no-shrink" role="presentation">
            <use xlink:href="#icon-arrow"/>
          </svg>
        </p>
      </div>
    </div>
  </a>
</article>