<article class="">
  <a aria-labelledby="{{ .context.Params.Heading | anchorize }}" class="relative no-underline group block" href="{{ .context.Permalink }}">


    <div class="absolute z-20 w-full h-full justify-end md:py-2 xl:py-4 flex flex-col">
      <h3 class=" text-3xl xs:text-4xl {{ if eq .size "large" }} 2xl:text-5xl {{ else }} md:text-3xl xl:text-4xl {{ end }} leading-heading h--condensed text-buff transition-colors duration-300 ease-in-out group-hover:text-pink group-focus:text-pink
      {{ if .reverse }} order-3 md:mb-6
      {{ else }} order-2 {{ end }}
      {{ if .odd }} text-right self-end md:pl-[5%] lg:pl-[25%]
      {{ else }} md:pr-[5%] lg:pr-[25%] {{ end }}" id="{{ .context.Params.Heading | anchorize }}">{{ .context.Params.Heading|safeHTML }}</h3>
      
      <h4 class="h--condensed text-md
      {{ if .labelColourClass }} {{ .labelColourClass }} {{ else }} text-pink {{ end }}
      {{ if .reverse }} order-2 md:mt-4
      {{ else }} order-1 {{ end }}
      {{ if .odd }} self-end {{ end }}">
        {{ if .spotlight }}
          Spotlight on
        {{ else if (not .hideservices) }}
          {{ title (delimit .context.Params.services " + " ) }}
        {{ end }}
      </h4>
      
      <div class="flex flex-row justify-between {{ if .reverse }} order-1 mb-4 {{ if (not .hideservices) }} md:mb-auto {{ end }} {{ else }} order-3 mt-6 lg:mt-12 2xl:mt-24 {{ end }}">
        {{ if .context.Params.icon }}
          <svg class="text-buff w-32 {{ if eq .size "large" }} lg:w-44 {{ else }}  md:w-40 {{ end }} {{ if .odd }} order-2 {{ end }}" role="presentation" aria-hidden="true"
            {{ with .context.Params.icon_width }}width="{{ . }}"{{ end }}
            {{ with .context.Params.icon_height }}height="{{ . }}"{{ end }}>
            <use xlink:href="#icon-{{ .context.Params.icon }}"/>
          </svg>
        {{ end }}
        {{ if not .hidelink }}
        <div class="inline-flex items-center gap-2 text-sm md:text-base {{ if .odd }} md:pl-4 {{ else }} md:pr-4 {{ end }}">
          <span class="font-bold underline">Read case study<span class="sr-only">: {{ .context.Params.heading }}</span></span>
          <svg class="w-6 h-2 md:w-9 md:h-3 flex-no-shrink mt-1" role="presentation" aria-hidden="true">
            <use xlink:href="#icon-arrow"/>
          </svg>
        </div>
        {{ end }}
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 {{ if .reverse }} pb-8 {{ else }} pb-20 {{ end }} md:pb-0 bleed md:bleed-none">
      <div class="relative col-span-full md:col-span-8 {{ if not .odd }} md:col-start-5 {{ end }} aspect-9/14 md:aspect-4/3 overflow-hidden">
        <div class="absolute bg-black/40 inset-0 z-10"></div>
        {{ if isset .context.Params "cover_img" }}
          {{ partial "image__teaser-lg" .context }}
        {{ end }}
      </div>
    </div>
  </a>
</article>
