{{ if isset .Site.Params "testimonials" }}
  {{ if .Site.Params.testimonials.enable }}
  <section class="section">
		<h2>{{ i18n "testimonialsTitle" }}</h2>
		<p class="text-md">{{ i18n "testimonialsDescription" }}</p>
		<ul class="inline-flex flex-wrap gap-10 list-none" role="list">
			{{ range first 4 (where site.RegularPages "Section" "in" .Site.Params.testimonials.items ) }}
				<li class="max-w-lg">
					{{ partial "testimonial" . }}
				</li>
			{{ end }}
		</ul>
  </section>
  {{ end }}
{{ end }}
