{{ $replacements := .Params.toc_replacements }}

<nav class="leading-none">
  <ol class="flex flex-col sm:flex-row sm:flex-wrap font-sans gap-5 lg:gap-x-10">
  {{ range .Fragments.Headings }}
    {{ range $index, $element := .Headings }}


    {{ $rep := index $replacements $index }}
      <li>
        <a href="#{{ .ID }}" class="inline-flex gap-2 items-center">
          {{ if $rep.short }}
            {{ $rep.short }}
          {{ else }}
            {{ $element.Title }}
          {{ end }}
          <svg class="w-4 h-4 lg:w-5 lg:h-5" role="presentation">
            <use xlink:href="#icon-arrow-down"/>
          </svg>
        </a>
      </li>
    {{ end }}
  {{ end }}
  </ol>
</nav>