
<nav aria-label="Filter work by service or topic" data-topic-filters id="js--filters" class="container grid gap-5 section snap-start">
	<p class="sr-only">Filter by service or topic</p>
    <ul class="flex flex-wrap items-center gap-5 font-sans font-medium lg:gap-x-10">
      <li>
        <button class="underline active before:bg-orange relative flex hover:text-blue focus:text-blue before:transition-colors duration-300 before:text-orange items-center before:flex before:h-2 lg:before:h-2.5 before:w-2 lg:before:w-2.5 before:rounded-full before:absolute before:-left-3 lg:before:-left-5" type="button" data-topic-filter-clear>All</button>
      </li>

{{/*
      {{ with .Params.sectors }}
        {{ range . }}
          {{ with site.GetPage . }}
            <li>
              <button class="hover:text-blue focus:text-blue underline relative flex before:transition-colors duration-300 before:text-orange items-center before:flex before:h-2 lg:before:h-2.5 before:w-2 lg:before:w-2.5 before:rounded-full before:absolute before:-left-3 lg:before:-left-5 whitespace-nowrap" type="button" data-topic-filter="{{ .Page.Title | anchorize }}">
                {{ title .Page.Title }}
              </button>
            </li>
            {{ end }}
          {{ end }}
      {{ end }}
*/}}

      {{ with .Params.services }}
        {{ range . }}
          {{ with site.GetPage . }}
            <li>
              <button class="hover:text-blue focus:text-blue underline relative flex before:transition-colors duration-300 before:text-orange items-center before:flex before:h-2 lg:before:h-2.5 before:w-2 lg:before:w-2.5 before:rounded-full before:absolute before:-left-3 lg:before:-left-5 whitespace-nowrap" type="button" data-topic-filter="{{ .Page.Title | anchorize }}">
                {{ title .Page.Title }}
              </button>
            </li>
            {{ end }}
          {{ end }}
      {{ end }}

    </ul>
</nav>
