
<nav class="flex flex-wrap items-center gap-8">
  <h2 class="font-sans text-sm font-bold normal-case">Related topics:</h2>
  <ul class="flex flex-wrap gap-8 font-sans text-sm font-medium" role="list">
    {{ range .Params.topics }}
<li class="relative flex items-center before:flex before:rounded-full before:-left-4 before:bg-orange before:h-2.5 before:w-2.5 before:absolute">

        <a href="{{ "topics/" | absURL }}{{ . | anchorize }}">{{ title . }}</a>
      </li>
    {{ end }}
  </ul>
</nav>
