/* ==========================================================================
    SCRATCH - a temporary holding file for WIP styles
   ========================================================================== */

#TableOfContents ol {
  @apply
    flex flex-wrap
    items-end
    gap-5 lg:gap-10
  ;
}