/**
 * variables.css
 *
 * Custom CSS properties are set here.
 *
 */

:root {
  --color-body: hsla(0,0%,0%,.8);
  --color-link: initial;
  --color-bg-ui: hsla(0,0%,0%,.05);
  --color-border-ui: hsla(0,0%,0%,.1);
  --width-container: 92%;
  --max-width-container: 120rem;
  --max-width-copy: 50ch;
}

/* You asked for dark? Try some funk! 
@media (prefers-color-scheme: dark) {
  :root {}
}
*/
