{{- $align := .Get "align" -}}

{{ if .Get "author" }}
  {{ if $align }}<div class="grid grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8">{{ end }}
    <figure {{ with .Get "cite" }} cite="https://{{.}}" {{ end }} class='{{ with .Get "wrapperclass" }} {{ . }} {{ end }}{{ if $align }} col-span-12 lg:col-span-8 {{ end }}{{ if eq $align "right" }} lg:col-start-5 {{ end }}'>
      <blockquote class="p-0 border-0" itemscope itemtype="http://schema.org/CreativeWork">
        <p{{ with .Get "class" }} class="{{ . }}"{{ end }} itemprop="citation">&ldquo;{{ trim .Inner "\n" }}&rdquo;</p>    
      </blockquote>
      <figcaption class="mt-5 font-serif {{ if .Get "avatar" }} inline-flex {{ else }} border-l-4 border-orange pl-10{{ end }}">
        {{ if .Get "avatar" }}
          {{ $author := index .Site.Data.authors (.Get "avatar") }}
          {{ $src := printf "https://madebykind.imgix.net/%s" $author.headshot }}

          {{ with $src }}

            <img
              alt="{{ $author.name }}"
              class="inline-block object-cover object-center w-16 h-16 mr-4 border rounded-full border-ui"
              height="180"
              loading=lazy
              sizes="(min-width: 62em) 180px, 120px"
              src="{{ (printf "%s?w=180&ar=1:1&fit=crop&auto=format" .) }}"
              srcset="
              {{ (printf "%s?w=120&ar=1:1&fit=crop&auto=format" .) }} 120w,
              {{ (printf "%s?w=180&ar=1:1&fit=crop&auto=format" .) }} 180w,"
              width="180"
            >
          {{ end }}

        {{ end }}
        <div>
          <div itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="font-bold" itemprop="name">{{ .Get "author" }}</span>
          </div>
          {{ if .Get "role" }}
            <span itemprop="jobTitle">{{.Get "role" }}</span>
          {{ end }}
        </div>
      </figcaption>
    </figure>
  {{ if $align }}</div>{{ end }}
{{ else }}
  <code class="text-claret">author= is required!</code>
{{ end }}
