
{{- $respSizes := slice "320" "640" "960" "1280" "1600" "1800" "1920" "2240" -}}
{{- $src := replace (.Get "src") "images" "https://madebykind.imgix.net" -}}
{{- $alt := .Get "alt" -}}
{{- $imgClass := "object-fit" -}}
{{- $dataSizes := "98vw" -}}

<div class="inline-flex px-12 py-20 frame frame__iphone">
  <div class="relative overflow-scroll h-iphone w-iphone">
    <picture class="absolute inset-0 aspect-iphone">

      <source sizes="{{ $dataSizes }}" srcset="
        {{- with $respSizes -}}
          {{- range $i, $e := . -}}
            {{- if $i }}, {{ end -}}
            {{ $src }}?w={{ . }}&fm=webp {{ . }}w
          {{- end -}}
        {{- end -}}" type="image/webp">
      <source sizes="{{ $dataSizes }}" srcset="
        {{- with $respSizes -}}
          {{- range $i, $e := . -}}
            {{- if $i }}, {{ end -}}
            {{ $src }}?w={{ . }}&fm=jpg {{ . }}w
          {{- end -}}
        {{- end -}}" type="image/jpeg">
      <img alt="{{ $alt }}" class="{{ $imgClass }}" src="{{ (printf "%s?w=640&auto=format" $src) }}" loading="lazy">
    </picture>
  </div>
</div>
