
{{- $respSizes := slice "320" "640" "960" "1280" "1600" "1800" "1920" "2240" -}}
{{- $imgBase := "images/" -}}
{{- $src := resources.Get (printf "%s%s" $imgBase (.Get "src")) -}}
{{- $alt := .Get "alt" -}}
{{- $imgClass := "object-fit" -}}
{{- $dataSizes := "98vw" -}}
{{- $actualImg := $src.Resize "640x jpg" -}}

<div class="inline-flex max-w-full max-h-full px-5 py-15 lg:px-12 lg:py-20 frame frame__iphone">
  <div class="relative overflow-scroll h-iphone w-iphone">
    <picture class="absolute inset-0">

      <source sizes="{{ $dataSizes }}" srcset="
              {{- with $respSizes -}}
                {{- range $i, $e := . -}}
                  {{- if ge $src.Width . -}}
                    {{- if $i }}, {{ end -}}{{- ($src.Resize (printf " %sx%s" . " webp") ).RelPermalink }} {{ . }}w
                  {{- end -}}
                {{- end -}}
              {{- end -}}" type="image/webp">
      <source sizes="{{ $dataSizes }}" srcset="
              {{- with $respSizes -}}
                {{- range $i, $e := . -}}
                  {{- if ge $src.Width . -}}
                    {{- if $i }}, {{ end -}}{{- ($src.Resize (printf " %sx%s" . " jpg") ).RelPermalink }} {{ . }}w
                  {{- end -}}
                {{- end -}}
              {{- end -}}" type="image/jpeg">
      <img alt="{{ $alt }}" class="{{ $imgClass }}" src="{{ $actualImg.RelPermalink }}" width="{{ $src.Width }}" height="{{ $src.Height }}" loading="lazy">
    </picture>
  </div>
</div>
