<aside class="bleed lg:bleed-none section--lg">
  <div class="lg:grid lg:grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8 relative">

    {{- $alt := ( .Get "alt" ) -}}
    {{ with .Get "img" }}
      {{- $src := ( . ) -}}
      {{ $src := replace $src "images" "https://madebykind.imgix.net" }}

      {{- $dataSizes := "98vw" -}}
      {{- $imgClass := "w-full" -}}
      {{- $respSizes := slice "320" "640" "960" "1280" "1600" "1920" -}}

      {{- with $src -}}
        <picture class="lg:col-span-8 lg:col-start-5">
          <source 
            sizes="{{ $dataSizes }}" 
            srcset="
              {{- with $respSizes -}}
                {{- range $i, $e := . -}}
                  {{- if $i }}, {{ end -}}
                  {{ $src }}?w={{ . }}&fm=webp&ar=4:3&fit=crop&crop=entropy {{ . }}w
                {{- end -}}
              {{- end -}}" 
            type="image/webp">

          <img
            alt="{{ $alt }}"
            class="{{ $imgClass }}"
            loading=eager
            sizes="{{ $dataSizes }}"
            src="{{ (printf "%s?w=640&auto=format&ar=4:3&fit=crop&crop=entropy" .) }}"
            srcset="
              {{- with $respSizes -}}
                {{- range $i, $e := . -}}
                  {{- if $i }},{{ end -}}
                  {{ $src }}?w={{ . }}&fm=jpg&ar=4:3&fit=crop&crop=entropy {{ . }}w
                {{- end -}}
              {{- end -}}"
          >
        </picture>
      {{ end }}
    {{ end }}

    <div class="bg-blue text-pink relative z-10 -mt-24 mr-4 py-8 lg:w-7/12 lg:m-0 lg:absolute lg:top-24 xl:top-32 2xl:top-40">
      <div class="container">
      <h2 class="h--condensed">Our partnership</h2>
      <div class="max-w-6xl mt-4 text-md lg:text-base leading-tight">{{ .Inner|markdownify }}</div>
      </div>
    </div>
  </div>

</aside>