

<div class="w-full grid grid-cols-12 gap-x-2.5 gap-y-6 lg:gap-6 xl:gap-8 py-12 border-y border-orange">
{{ with .Get "heading" }}
  <div class="col-span-full">
    <h2 class="text-xl">{{ . }}</h2>
  </div>
{{ end }}

{{ with .Site.GetPage (.Get "page_1") }}
  <div class="col-span-full lg:col-span-4">
    {{ partial "card_work" ( dict "context" . "hideservices" true "showtag" true "hidelogo" true "heading_class" "text-lg") }}
  </div>
{{ end }}
{{ with .Site.GetPage (.Get "page_2") }}
  <div class="col-span-full lg:col-span-4">
    {{ partial "card_work" ( dict "context" . "hideservices" true "showtag" true "hidelogo" true "heading_class" "text-lg") }}
  </div>
{{ end }}
{{ with .Site.GetPage (.Get "page_3") }}
  <div class="col-span-full lg:col-span-4">
    {{ partial "card_work" ( dict "context" . "hideservices" true "showtag" true "hidelogo" true "heading_class" "text-lg") }}
  </div>
{{ end }}
</div>