{{ with .Site.GetPage (.Get "page") }}
  {{ with .Params.sub_content }}

    <section class="bleed snap-start bg-indigo text-buff pb-12 lg:pb-20 xl:pb-30">
      <div class="container">
        <div class="flex flex-col gap-4 my-12">
          {{ if .heading }}
            <h2 class="h--condensed text-3xl leading-heading max-w-5xl order-2">{{ .heading }}</h2>
          {{ end }}
          {{ if .label }}
            <h3 class="text-teal order-1">{{ .label }}</h3>
          {{ end }}
        </div>
        
        {{ $length := .items | len }}
        <ul class="list-none grid grid-cols-1 md:grid-cols-12 gap-8 lg:gap-y-24">
          {{ range $index, $p := .items }}
            {{ $odd := false }}
            {{ if not (modBool $index 2)}}
              {{ $odd = true }}
            {{ end }}

            {{ with site.GetPage $p }}
            <li class="col-span-full {{ if or (eq $index 0) (le $length 3) }} md:col-span-full {{ else }} md:col-span-4 {{ end }}">
              {{ partial "teaser__work" ( dict "context" . "odd" $odd "spotlight" (ge $length 4) "size" "large") }}
            </li>
            {{ end }}

          {{ end }}
        </ul>
      </div>
    </section>

  {{ end }}
{{ end }}